.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 20vh;
  }
}

.class_marker {
  position: absolute;
  top: 4px;
  height: 1px;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: calc(60px + 4px); // to align with the sidebar title
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--vscode-editor-background);
  transition: box-shadow var(--transition-duration-250)
    var(--transition-timing-function);

  &--stuck {
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px;
  }

  &__marker {
    position: absolute;
    top: 0;
    height: 1px;
    margin-top: -2px;
  }

  &__group {
    position: absolute;
    top: 38px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    font-size: 12px;
    border-radius: 999px;
    padding: 2px 8px;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--cwc-text-secondary);
    font-size: 14px;
  }
}
