.container {
  scroll-margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: var(--padding-6px); // to align with the sidebar title
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--padding-8px);
}

.title {
  margin: 0;
  font-size: var(--font-size-18px);
  font-weight: 600;
}

.subtitle {
  color: var(--vscode-descriptionForeground);
  font-size: var(--font-size-14px);
}
