.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 20vh;
  }
}

.class_marker {
  position: absolute;
  top: 4px;
  height: 1px;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 66px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--vscode-editor-background);
  transition: box-shadow var(--transition-duration-250)
    var(--transition-timing-function);

  &--stuck {
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px;
  }

  &__marker {
    position: absolute;
    top: 0;
    height: 1px;
    margin-top: -2px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
  }

  &__group {
    font-weight: 400;
    color: var(--vscode-textLink-foreground);
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    color: var(--cwc-text-secondary);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
