.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--padding-16px);
}

.class_marker {
  position: absolute;
  top: 4px;
  height: 1px;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding-top: calc(
    var(--padding-60px) + var(--padding-4px)
  ); // to align with the sidebar title
  padding-bottom: var(--padding-10px);
  background-color: var(--vscode-editor-background);
  transition: box-shadow var(--transition-duration-250)
    var(--transition-timing-function);

  &--stuck {
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px;
  }

  &__marker {
    position: absolute;
    top: 0;
    height: 1px;
    margin-top: -2px;
  }

  &__group {
    position: absolute;
    top: 38px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    font-size: var(--font-size-12px);
    border-radius: var(--border-radius-999px);
    padding: var(--padding-2px) var(--padding-8px);
  }

  &__title {
    margin: 0;
    font-size: var(--font-size-20px);
    font-weight: 600;
  }

  &__subtitle {
    font-size: var(--font-size-14px);
  }
}
