.container {
  --height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height);
  padding: 0 0 0 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0 20px;
  overflow: hidden;

  :global([data-modern-ui='true']) & {
    margin: 0 18px;
  }
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.actions {
  display: flex;
  height: 100%;

  &__item {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--vscode-textLink-foreground);
    padding: 0 6px 0 3px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }
  }
}

.disconnected {
  color: var(--cwc-text-color-yellow);
  background-color: var(--cwc-bg-yellow);

  .label {
    font-weight: 500;
  }

  .actions__item:hover {
    background-color: var(--cwc-bg-yellow);
  }
}

.connected {
  color: var(--cwc-text-color-green);
  background-color: var(--cwc-bg-green);

  .actions__item:hover {
    background-color: var(--cwc-bg-green);
  }
}

.icon {
  margin-right: 4px;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  height: 100%;
  display: block;
  line-height: var(--height);
}
