.checkbox {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--cwc-bg-tertiary);
  color: var(--cwc-text-color);
  border: 1px solid var(--cwc-border-color);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;

  &:hover {
    border-color: var(--cwc-border-color-hover);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: default;
  }

  &:checked::before {
    font-family: 'codicon';
    content: '\eab2';
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
