.container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.toolbar {
  display: flex;
  padding: 0 8px 8px 8px;
  align-items: center;
  gap: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 36px;

  &:nth-child(even) {
    background-color: var(--vscode-welcomePage-tileBackground);
  }

  .col-actions {
    visibility: hidden;
  }

  &:hover .col-actions {
    visibility: visible;
  }

  &__content {
    flex: 1;
    padding: 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .default-icon {
      margin-right: 0.5em;
    }

    > span:last-child {
      margin-left: 0.5em;
      opacity: 0.7;
      font-size: 0.9em;
    }
  }
}

.empty-message {
  flex: 1;
  text-align: center;
  font-style: italic;
  color: var(--vscode-descriptionForeground);
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}

.col-radio {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-drag {
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-right: 8px;
}
