.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  padding: 12px 12px 8px 12px;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;
  padding: 0 12px;

  &:nth-child(even) {
    background-color: var(--vscode-welcomePage-tileBackground);
  }

  &__content {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .default-icon {
      margin-right: 0.5em;
    }

    > span:first-child:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    > span:last-child {
      margin-left: 0.5em;
      opacity: 0.7;
      font-size: 0.9em;
    }
  }
}

.empty-message {
  flex: 1;
  text-align: center;
  font-style: italic;
  color: var(--cwc-text-color-dimmed);
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}

.col-radio {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-drag {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
