.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px 12px 8px 16px;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 5px;

    &__amount {
      font-weight: 600;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;
  padding: 0 12px;

  &:nth-child(odd) {
    background-color: var(--cwc-bg-tertiary);
  }

  &__content {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .default-icon {
      margin-right: 0.5em;
    }

    > span:last-child {
      margin-left: 0.5em;
      opacity: 0.7;
      font-size: 0.9em;
    }
  }
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: var(--cwc-text-color-dimmed);
  align-self: flex-start;
  flex: 1;
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}

.col-drag {
  padding: 4px;
  display: flex;
  align-items: center;
  height: 100%;
}

.col-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
