.button {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  border-radius: 999px;
  color: var(--vscode-foreground);
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  padding: 0 10px 0 8px;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;

  &:hover {
    background-color: var(--vscode-toolbar-hoverBackground);
  }

  &:focus-visible {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }

  &--active {
    border-color: var(--vscode-focusBorder) !important;

    .button__icon,
    .button__label {
      opacity: 1;
    }

    &.button--blue {
      background-color: var(--cwc-bg-blue);

      .button__icon,
      .button__label {
        color: var(--cwc-text-color-blue);
      }

      &:hover {
        background-color: var(--cwc-bg-blue);
      }
    }

    &.button--green {
      background-color: var(--cwc-bg-green);

      .button__icon,
      .button__label {
        color: var(--cwc-text-color-green);
      }

      &:hover {
        background-color: var(--cwc-bg-green);
      }
    }

    &.button--red {
      background-color: var(--cwc-bg-red);

      .button__icon,
      .button__label {
        color: var(--cwc-text-color-red);
      }

      &:hover {
        background-color: var(--cwc-bg-red);
      }
    }

    &.button--purple {
      background-color: var(--cwc-bg-purple);

      .button__icon,
      .button__label {
        color: var(--cwc-text-color-purple);
      }

      &:hover {
        background-color: var(--cwc-bg-purple);
      }
    }

    &.button--yellow {
      background-color: var(--cwc-bg-yellow);

      .button__icon,
      .button__label {
        color: var(--cwc-text-color-yellow);
      }

      &:hover {
        background-color: var(--cwc-bg-yellow);
      }
    }
  }

  &--compact {
    padding: 0;
    width: 24px;
    justify-content: center;

    .button__label {
      display: none;
    }
  }

  &__icon {
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vscode-icon-foreground);
  }

  &__label {
    @include accent-font;
    font-size: 16px;
    line-height: 1;
    padding-top: 2px;
    padding-right: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
