.container {
  display: flex;
  gap: 8px;
  padding: 9px 12px;
  border-radius: 10px;

  a {
    text-decoration: underline;
  }

  > span:first-child {
    padding-top: 1px;
  }

  &--info {
    color: var(--cwc-text-color-blue);
    background-color: var(--cwc-bg-blue);

    a {
      color: var(--cwc-text-color-blue);
    }
  }

  &--warning {
    color: var(--cwc-text-color-orange);
    background-color: var(--cwc-bg-orange);

    a {
      color: var(--cwc-text-color-orange);
    }
  }
}
