.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 9px 9px 9px 12px;
  border-radius: 10px;

  &--info {
    color: var(--cwc-text-color-blue);
    background-color: var(--cwc-bg-blue);

    a {
      color: var(--cwc-text-color-blue);
    }
  }

  &--warning {
    color: var(--cwc-text-color-yellow);
    background-color: var(--cwc-bg-yellow);

    a {
      color: var(--cwc-text-color-yellow);
    }
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;

  &--warning {
    > span:first-child {
      transform: translateY(1px);
    }
  }

  a {
    text-decoration: underline;
  }

  > span:first-child {
    align-self: flex-start;
  }

  .content {
    flex: 1;
  }
}
