.dropdown {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--cwc-border-color);
  padding: var(--padding-4px) var(--padding-8px);
  border-radius: var(--border-radius-4px);
  cursor: pointer;
  width: 100%;

  &:hover {
    background: var(--vscode-list-hoverBackground);
  }

  &[data-is-open='true'] {
    border-color: var(--vscode-focusBorder);
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }
}

.chevron {
  transition: transform 0.2s ease;
  color: var(--vscode-icon-foreground);
}

.chevron_open {
  transform: rotate(180deg);
}
