.dropdown {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--cwc-border-color);
  padding: var(--padding-4px) var(--padding-8px);
  border-radius: var(--border-radius-4px);
  cursor: pointer;
  width: 100%;

  &:hover {
    border-color: var(--cwc-border-color-hover);
  }

  &--open {
    border-color: var(--vscode-focusBorder);

    &:hover {
      border-color: var(--vscode-focusBorder);
    }
  }
}

.chevron {
  color: var(--vscode-icon-foreground);

  &--open {
    transform: rotate(180deg);
  }
}
