.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
}

.my-configurations {
  padding: 0 var(--padding-12px);
  margin-bottom: var(--padding-2px);
  opacity: 0.7;
  color: var(--vscode-foreground);
}

.configurations {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-4px);
    height: 22px;
    padding: 0 var(--padding-12px);
    cursor: pointer;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &--disabled {
      cursor: default !important;

      > div:first-child {
        opacity: var(--disabled-opacity);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 5px;
      overflow: hidden;
      white-space: nowrap;

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;

        > span:last-child {
          margin-left: 0.5em;
          opacity: 0.7;
          font-size: 0.9em;
        }
      }
    }
  }

  &__create {
    margin: var(--padding-8px) var(--padding-12px) 0 var(--padding-12px);
  }
}
