.notice {
  --height: 24px;
  display: flex;
  align-items: center;
  height: var(--height);
  padding: 0 8px 0 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 20px;

  :global([data-modern-ui='true']) & {
    margin: 0 18px;
  }
}

.warning {
  color: var(--cwc-text-color-yellow);
  background-color: var(--cwc-bg-yellow);
}

.files {
  color: var(--cwc-text-color);
  background-color: var(--cwc-bg-tertiary);
}

.icon {
  margin-right: 4px;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  height: 100%;
  display: block;
  line-height: var(--height);
}

.files .label {
  color: var(--cwc-text-color);
}

.warning .label {
  font-weight: 500;
}

.tokens {
  color: var(--cwc-text-color-dimmed);
  margin-left: 6px;
}
