.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px 4px 12px;
  gap: 14px;

  &__left {
    display: flex;
    align-items: center;
    gap: 4px;

    &__home-view-type {
      font-weight: 600;
    }

    &__toggler {
      font-family: var(--font-family-accent);
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      border-radius: 5px;
      --padding: 6px;
      padding: 1px var(--padding) 0 var(--padding);
      margin: 0 calc(var(--padding) * -1);
      line-height: 1;
      white-space: nowrap;
      letter-spacing: 1px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    &__dropdown {
      position: relative;
      flex: 1;
      width: 100%;
      height: 24px;
    }

    &__settings {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      --size: 20px;
      width: var(--size);
      height: var(--size);
      color: var(--vscode-icon-foreground);
      cursor: pointer;
      text-decoration: none;
      background: none;
      border: none;
      padding: 0;
      border-radius: 5px;

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }
  }
}
