.timeline {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  position: relative;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);

    .item__actions {
      display: flex;
    }
  }

  &:last-child {
    .item__line {
      display: none;
    }

    .item__content {
      margin-bottom: 0;
    }
  }

  &__time {
    font-size: 11px;
    color: var(--cwc-text-color-dimmed);
    white-space: nowrap;
    width: 26vw;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
  }

  &__connector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px 0 4px;
    flex-shrink: 0;
  }

  &__marker {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    color: var(--vscode-button-background);
  }

  &__dot {
    width: 7px;
    height: 7px;
    background-color: var(--vscode-button-background);
    border-radius: 50%;
  }

  &__star-prefix {
    margin-right: 4px;
    vertical-align: text-bottom;
  }

  &__line {
    width: 1px;
    flex-grow: 1;
    margin: 0 9px;
    background-color: var(--cwc-border-color-dimmed);
  }

  &__content {
    position: relative;
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    gap: 2px;
    padding: 1px 0;
    overflow: hidden;

    &__title-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 20px;

      > span:first-child {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__description {
      font-size: 12px;
      color: var(--cwc-text-color-dimmed);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-wrap: break-word;
      margin-bottom: 12px;
    }
  }

  &__actions {
    display: none;
    align-items: center;
    margin-left: 8px;
    flex-shrink: 0;
  }
}
