.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-24px) var(--padding-12px) var(--padding-24px)
    var(--padding-12px);
  border: 1px solid transparent;
  background-color: var(--vscode-toolbar-hoverBackground);
  border-radius: var(--border-radius-10px);

  &:hover {
    background-color: transparent;
    border-color: var(--vscode-toolbar-hoverBackground);
  }

  &__label {
    font-family: var(--font-family-accent);
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  &__pre {
    opacity: var(--dimmed-opacity);
  }
}
