.tabs {
  height: 26px;
  padding: 0 12px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
  }

  &__tab {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cwc-text-color-dimmed);
    cursor: pointer;
    position: relative;

    &:hover {
      color: var(--cwc-text-color);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }

    &--active {
      color: var(--cwc-text-color);

      &::after {
        background-color: var(--vscode-button-background);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 8px;
  }
}
