.tabs {
  height: 25px;
  padding: 0 14px 0 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;

  :global([data-modern-ui='true']) & {
    padding: 0 10px 0 12px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
  }

  &__tab {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--cwc-text-color-dimmed);
    cursor: pointer;
    position: relative;

    &:hover {
      color: var(--cwc-text-color);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }

    &--active {
      color: var(--cwc-text-color);

      &::after {
        background-color: var(--vscode-button-background);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}
