.container {
  display: flex;
  flex-direction: column;
}

.configurations {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    height: 22px;
    padding: 0 12px;

    :global([data-modern-ui='true']) & {
      margin: 0 4px;
      padding: 0 6px;
      border-radius: var(--border-radius-small);
    }

    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .configurations__item__right {
        display: flex;
      }
    }

    &--disabled-invocation {
      cursor: default;

      &:hover {
        background-color: unset;
      }

      .configurations__item__left__icon,
      .configurations__item__left__text {
        opacity: var(--dimmed-opacity);
      }
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 100%;

      &__drag-handle {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: grab;
        opacity: var(--drag-handle-opacity);

        &:active {
          cursor: grabbing;
        }
      }

      &__icon {
        display: flex;

        > svg {
          fill: var(--vscode-icon-foreground);
          width: 16px;
          height: 16px;
        }
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.2;

        > span:nth-child(2) {
          color: var(--cwc-text-color-dimmed);
          margin-left: 0.5em;
          font-size: 0.9em;
        }
      }
    }

    &__right {
      display: none;
      align-items: center;
      cursor: default;
    }
  }
}

.separator {
  height: 1px;
  background-color: var(--vscode-menu-separatorBackground);
  margin: 4px 0;

  :global([data-modern-ui='true']) & {
    margin: 4px 8px;
  }
}

.empty {
  padding: 0 12px;
  color: var(--cwc-text-color-dimmed);

  :global([data-modern-ui='true']) & {
    padding: 0 10px;
  }
}

.footer {
  display: flex;
  padding: 10px 12px 0 12px;

  :global([data-modern-ui='true']) & {
    padding: 9px 10px 0 10px;
  }

  > button {
    flex: 1;
  }
}
