.header {
  --height: 32px;
  position: relative;
  width: 100%;
  height: var(--height);

  &__normal {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 12px;
    opacity: 1;
    transform: translateY(0);
    transition:
      transform var(--transition-duration-250) var(--transition-timing-function),
      opacity var(--transition-duration-250) var(--transition-timing-function);

    :global([data-modern-ui='true']) & {
      padding: 0 10px;
    }

    &--hidden {
      opacity: 0;
      transform: translateY(-15px);
      pointer-events: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    color: var(--vscode-icon-foreground);
  }

  &__text {
    display: flex;
    align-items: center;
    height: 24px;
    @include accent-font;
    font-size: 18px;
    line-height: 1;
    padding-top: 1px;
    white-space: nowrap;
  }

  &__targets {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(15px);
    transition:
      transform var(--transition-duration-250) var(--transition-timing-function),
      opacity var(--transition-duration-250) var(--transition-timing-function);
    pointer-events: none;

    &--visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    &-divider {
      width: 1px;
      height: 16px;
      background-color: var(--cwc-border-color-dimmed);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  padding-top: 4px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__responses {
    margin: 0;
  }

  &__target {
    position: relative;
    display: flex;
    background-color: var(--vscode-sideBar-background);
    border-radius: 10px;
    border: 1px solid var(--cwc-border-color);
    margin: 0 12px;
    z-index: 1;

    :global([data-modern-ui='true']) & {
      margin: 0 10px;
    }

    > button {
      flex: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 35px;
      background-color: var(--cwc-border-color-dimmed);
      pointer-events: none;
    }
  }

  &__empty {
    padding: 0 16px;
    color: var(--cwc-text-color-dimmed);

    :global([data-modern-ui='true']) & {
      padding: 0 12px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  &__workspace-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0;

    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--vscode-descriptionForeground);
      min-width: 0;
      padding: 2px 4px 2px 5px;
      border-radius: 5px;

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
        color: var(--vscode-icon-foreground);
      }

      &__text {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__icon {
        font-size: 12px !important;
        flex-shrink: 0;
      }
    }
  }

  &__tasks {
    width: 100%;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-size: 12px;
  user-select: text;
  width: 100%; // For easier text selection
  padding: 0 12px 12px 12px;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-spacer {
  flex-shrink: 0;
}
