.header {
  --height: 32px;
  position: relative;
  width: 100%;
  height: var(--height);

  @include landscape {
    height: 100%;
    width: unset;
    margin: 0 0 0 12px;

    @include modern-ui {
      margin: 0 0 0 10px;
    }
  }

  &__normal {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 12px;
    opacity: 1;
    transform: translateY(0);
    transition:
      transform var(--transition-duration-250) var(--transition-timing-function),
      opacity var(--transition-duration-250) var(--transition-timing-function);

    @include modern-ui {
      padding: 0 10px;
    }

    &--hidden {
      opacity: 0;
      transform: translateY(-15px);
      pointer-events: none;
    }

    @include landscape {
      position: static;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4px;
      padding: 6px 0;
      height: 100%;
      transition: none;

      @include modern-ui {
        padding: 6px 0;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    color: var(--vscode-icon-foreground);
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 4px;

    @include landscape {
      flex-direction: column;
      align-items: flex-start;
      margin: auto 0 auto -2px;
    }
  }

  &__targets {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(15px);
    transition:
      transform var(--transition-duration-250) var(--transition-timing-function),
      opacity var(--transition-duration-250) var(--transition-timing-function);
    pointer-events: none;

    &--visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;

  > * {
    flex-shrink: 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;

  &__target {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0 12px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    @include modern-ui {
      margin: 0 10px;
    }

    > button {
      flex: 1;
    }
  }

  &__workspace-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0;

    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--vscode-descriptionForeground);
      min-width: 0;
      padding: 2px 4px 2px 5px;
      border-radius: 5px;

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
        color: var(--vscode-icon-foreground);
      }

      &__text {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__icon {
        font-size: 12px !important;
        flex-shrink: 0;
      }
    }
  }

  &__tasks {
    width: 100%;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-size: 12px;
  user-select: text;
  width: 100%;
  padding: 0 12px 12px 12px;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__version {
    color: var(--cwc-text-color-dimmed);
  }

  a:hover {
    text-decoration: underline;
  }
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-spacer {
  flex-shrink: 0;
}

.landscape {
  display: flex;
  height: 100%;
  width: 100%;

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;

    &--header {
      flex: 0 0 max-content;
    }

    &--targets {
      flex: 0.7;
      @include modern-ui {
        margin-right: -10px;
      }

      .content {
        justify-content: center;
      }
    }

    &--tasks {
      border-left: 1px solid var(--cwc-original-border-color);

      @include modern-ui {
        border-left: none;
      }
    }
  }
}
