.container {
  display: flex;
  flex-direction: column;
}

.text {
  margin: 3px 12px 6px 12px;
  word-wrap: break-word;
  user-select: text;

  :global([data-modern-ui='true']) & {
    margin: 3px 10px 6px 10px;
  }

  > * {
    margin: 0;
    font-size: 13px;
  }

  > * + * {
    margin-top: 0.5em;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  code {
    font-family: monospace;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 3px;
  }

  pre {
    display: flex;
    overflow: auto;
  }

  &__collapse > span {
    cursor: pointer;
    font-style: italic;
    font-size: 12px;
    color: var(--cwc-text-color-dimmed);

    &:hover {
      text-decoration: underline;
    }
  }

  > hr {
    border-top: none;
    border-color: var(--cwc-border-color-dimmed);
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0 12px;
  position: relative;
  cursor: pointer;

  :global([data-modern-ui='true']) & {
    margin: 0 10px;
  }

  &:hover {
    color: var(--cwc-text-color);

    & .header__line {
      background: linear-gradient(
        to right,
        var(--cwc-border-color),
        transparent
      ) !important;
    }
  }

  &__line {
    flex: 1;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--cwc-border-color-dimmed),
      transparent
    );
    margin: 0 0 0 4px;
  }
}
