.selection-symbol {
  background-color: var(--vscode-editor-selectionBackground);
  border-radius: 2px;
  padding: 0 0.6px;

  &--error {
    background-color: var(--vscode-diffEditor-removedLineBackground);
  }
}

.symbol {
  font-size: 12px;
  background-color: color-mix(
    in srgb,
    var(--vscode-charts-blue) 20%,
    transparent
  );
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  transform: translateY(1.5px);
  max-width: 100%;

  &__icon {
    display: flex;
    padding: 0 3px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &::before {
      font-family: 'codicon';
      font-size: 12px;
      transition: none;
      border-radius: 4px;
    }

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );

      &::before {
        content: '\ea76' !important;
      }
    }
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: -4px;
  }

  &--file &__icon::before {
    content: '\eae9';
  }

  &--file &__text {
    cursor: pointer;
  }

  &--file &__text {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--skill &__icon::before {
    content: '\ec59';
  }

  &--skill &__text {
    cursor: pointer;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--image &__icon::before {
    content: '\eaea';
  }

  &--image &__text {
    cursor: pointer;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--website &__icon::before {
    content: '\eb01';
  }

  &--website &__text {
    cursor: pointer;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--pasted-text &__icon::before {
    content: '\eac0';
  }

  &--pasted-text &__text {
    cursor: pointer;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--changes &__icon::before {
    content: '\ebdb';
  }

  &--contextatcommit &__icon::before {
    content: '\ea82';
  }

  &--commit &__icon::before {
    content: '\eafc';
  }

  &--saved-context &__icon::before {
    content: '\eab3';
  }

  &--selection &__icon::before {
    content: '\eb84';
  }

  &--selection &__text {
    pointer-events: none;
  }

  &--pasted-lines &__icon::before {
    content: '\eac0';
  }

  &--pasted-lines &__text {
    cursor: pointer;
  }

  &--pasted-lines &__text {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--vscode-charts-blue) 30%,
        transparent
      );
    }
  }

  &--error {
    background-color: color-mix(
      in srgb,
      var(--vscode-charts-red) 30%,
      transparent
    );
  }

  &--error &__icon:hover {
    background-color: color-mix(
      in srgb,
      var(--vscode-charts-red) 40%,
      transparent
    );
  }

  &--error &__text:hover {
    background-color: color-mix(
      in srgb,
      var(--vscode-charts-red) 40%,
      transparent
    );
  }
}

.inline-code {
  font-family: var(--vscode-editor-font-family, monospace);
  font-size: 11px;
  background-color: var(--cwc-bg-secondary);
  border-radius: 4px;
  padding: 2px 2px 1px 2px;
}
