.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 0 12px;
  border-bottom: 1px solid var(--cwc-border-color);

  :global([data-modern-ui='true']) & {
    margin: 0 8px;
    padding: 0 2px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: -1px;
  }

  &__tab {
    font-family: var(--font-family-accent);
    font-size: 16px;
    padding: 5px 9px 0 9px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: none;
    color: var(--cwc-text-color-dimmed);
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 6px 6px 0 0;

    &:hover {
      color: var(--cwc-text-color);
    }

    &:focus-visible {
      outline: 1px solid var(--vscode-focusBorder);
      outline-offset: -1px;
    }

    &--active {
      color: var(--cwc-text-color);
      border-color: var(--cwc-border-color);
      border-bottom-color: transparent;
      background-color: var(--vscode-sideBar-background);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}
