.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 0 12px 0 30px;

  :global([data-modern-ui='true']) & {
    padding: 0 10px 0 28px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__tab {
    font-family: var(--font-family-accent);
    font-size: 16px;
    padding: 0 6px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: none;
    color: var(--cwc-text-color-dimmed);
    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    &:hover {
      color: var(--cwc-text-color);
    }

    &:focus-visible {
      outline: 1px solid var(--vscode-focusBorder);
      outline-offset: -1px;
    }

    &--active {
      color: var(--cwc-text-color);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}
