.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid var(--vscode-menu-separatorBackground);
  padding: 0 12px;

  :global([data-modern-ui='true']) & {
    margin: 0 8px;
    padding: 0 2px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__tab {
    font-family: var(--font-family-accent);
    font-size: 16px;
    padding: 4px 10px 2px 10px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    text-transform: none;
    color: var(--cwc-text-color-dimmed);
    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    &:hover {
      color: var(--cwc-text-color);
    }

    &:focus-visible {
      outline: 1px solid var(--vscode-focusBorder);
      outline-offset: -1px;
    }

    &--active {
      color: var(--cwc-text-color-blue);
      background-color: var(--cwc-bg-blue);
      border-color: var(--vscode-menu-separatorBackground);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        background: var(--cwc-bg-blue);
      }

      &:hover {
        background-color: var(--cwc-bg-blue);
        color: var(--cwc-text-color-blue);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}
