.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) var(--padding-6px)
    var(--padding-8px);
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: var(--border-radius-10px);

  &:hover {
    background-color: var(--vscode-button-hoverBackground);
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }

  &__label {
    font-weight: 600;
  }

  &__description {
    opacity: var(--dimmed-opacity);
    font-size: var(--font-size-12px);
  }
}
