.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-5px);
  --size: 20px;
  width: var(--size);
  height: var(--size);
  color: var(--vscode-icon-foreground);
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: inherit;
    background-color: var(--vscode-toolbar-hoverBackground);
    text-decoration: none;
  }
}
