.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-5px);
  --size: 20px;
  width: var(--size);
  height: var(--size);
  color: var(--vscode-icon-foreground);
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: inherit;
    background-color: var(--vscode-toolbar-hoverBackground);
    text-decoration: none;
  }

  &.with-label {
    width: auto;
    justify-content: flex-start;
    gap: var(--padding-4px);
    padding-left: var(--padding-4px);
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
