.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 8px 8px 8px;
  margin-bottom: calc(5px * -1);
  background: linear-gradient(
    135deg,
    rgba(255, 0, 221, 0.1) 0%,
    rgba(37, 94, 209, 0.1) 100%
  );
  color: var(--vscode-inputOption-activeForeground);
  --border-radius: 8px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.heading {
  font-weight: 500;
}

.links {
  display: flex;
  flex-wrap: wrap;

  > a {
    white-space: nowrap;

    &:first-child {
      margin-right: 10px;
    }
  }
}
