.textarea {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-5px);
  padding: var(--padding-5px) var(--padding-6px);
  resize: none;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  overflow: hidden;
  border: 1px solid var(--cwc-border-color);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);

  &:focus {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }
}
