.textarea {
  width: 100%;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  border-radius: 4px;
  padding: 5px 8px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  line-height: inherit;

  &:focus {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }
}
