.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 12px 12px 12px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.clear {
  color: var(--vscode-textLink-foreground);
  white-space: nowrap;
  font-size: 12px;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) {
    text-decoration: underline;
  }
}
