.input {
  border: 1px solid var(--cwc-border-color);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: var(--padding-4px) var(--padding-7px);
  border-radius: var(--border-radius-4px);
  width: 100%;
  outline: none;

  &:hover {
    border-color: var(--cwc-border-color-hover);
  }

  &:focus {
    border-color: var(--vscode-focusBorder);
  }
}

.invalid {
  border-color: var(--vscode-inputValidation-errorBorder) !important;
  background: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-errorForeground);
}
