.input {
  border: 1px solid var(--cwc-stroke-primary);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: var(--padding-4px) var(--padding-8px);
  border-radius: var(--border-radius-4px);
  width: 100%;
  outline: none;

  &:focus {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }
}
