.chat-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 12px;

  :global([data-modern-ui='true']) & {
    margin: 0 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    flex-shrink: 0;
  }
}
