.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;

  > div {
    pointer-events: all;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-12px);
    color: var(--vscode-descriptionForeground);
  }
}

.browser-extension-message {
  padding: 0 var(--padding-16px);
  position: relative;
}
