.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;

  > div {
    pointer-events: all;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-8px) 0;
}

.responses {
  margin: 0 var(--padding-16px);
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius-5px);
  border-top-right-radius: var(--border-radius-5px);
  border: 1px solid var(--vscode-commandCenter-inactiveBorder);
  border-bottom: 0px;
  padding-bottom: var(--padding-5px);
  margin-bottom: calc(var(--padding-5px) * -1);
  overflow: hidden;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-4px);
    padding: var(--padding-3px) var(--padding-8px);
    width: 100%;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }

    &--selected {
      background-color: var(--vscode-list-inactiveSelectionBackground);
      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__instruction {
      text-align: left;
      font-size: var(--font-size-12px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: var(--padding-4px);
      flex-shrink: 0;
      font-size: var(--font-size-11px);
    }

    &__date {
      flex-shrink: 0;
      color: var(--vscode-descriptionForeground);
    }

    &__stats {
      display: flex;
      gap: var(--padding-4px);
      flex-shrink: 0;

      &--added {
        color: var(--vscode-gitDecoration-addedResourceForeground);
      }

      &--removed {
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-12px);
    color: var(--vscode-descriptionForeground);
  }
}

.browser-extension-message {
  padding: 0 var(--padding-16px);
  position: relative;
}
