.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3px) 0 var(--padding-10px) 0;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--padding-4px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__left {
    display: flex;
    gap: var(--padding-4px);
    overflow: hidden;
  }

  &__right {
    display: flex;
    gap: var(--padding-4px);
  }

  &__button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: var(--padding-4px);
    height: 24px;
    padding: 0 var(--padding-5px);
    border-radius: var(--border-radius-4px);
    text-decoration: none;
    color: var(--vscode-foreground);
    white-space: nowrap;

    &:disabled {
      opacity: var(--disabled-opacity);
    }

    > svg {
      flex-shrink: 0;
      fill: var(--vscode-icon-foreground);
      width: 16px;
      height: 16px;
    }

    &--buy-me-a-coffee {
      background-color: #f7d600;
      transition: transform var(--transition-duration-150)
        var(--transition-timing-function);

      &:hover {
        transform: scale(0.95);
      }

      > svg {
        fill: black;
      }
    }

    &--filled {
      background-color: var(--vscode-list-hoverBackground);
      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }

    &--outlined {
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      &:hover:not(:disabled) {
        border-color: var(--vscode-commandCenter-activeBorder);
      }
    }
  }

  &__heart {
    position: absolute;
    bottom: 32px;
    animation-name: float-up;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes float-up {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-12px);
  gap: var(--padding-12px);

  &__left {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);

    &__home-view-type {
      font-weight: 600;
    }

    &__toggler {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-5px);
      --padding: var(--padding-6px);
      padding: 0 var(--padding);
      margin: 0 calc(var(--padding) * -1);
      height: 20px;
      color: var(--vscode-icon-foreground);
      white-space: nowrap;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }
  }

  &__right {
    flex: 1;
  }
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-12px);
    color: var(--vscode-foreground);
    opacity: 0.7;
  }
}

.browser-extension-message {
  padding: 0 var(--padding-16px);
  margin-bottom: -4px;
  position: relative;
}
