.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;

  > div {
    pointer-events: all;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-8px) 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-3px) var(--padding-12px) var(--padding-4px)
    var(--padding-12px);
  gap: var(--padding-12px);

  &__left {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);

    &__home-view-type {
      font-weight: 600;
    }

    &__toggler {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-5px);
      --padding: var(--padding-6px);
      padding: 0 var(--padding);
      margin: 0 calc(var(--padding) * -1);
      height: 20px;
      color: var(--vscode-icon-foreground);
      white-space: nowrap;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--padding-8px);

    &__dropdown {
      width: 100%;
    }

    &__settings {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      --size: 20px;
      width: var(--size);
      height: var(--size);
      color: var(--vscode-icon-foreground);
      cursor: pointer;
      text-decoration: none;
      background: none;
      border: none;
      padding: 0;
      border-radius: var(--border-radius-5px);

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
        > span {
          animation: rotate 4s linear infinite;
        }
      }
    }
  }
}

.responses {
  margin: 0 var(--padding-16px);
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius-5px);
  border-top-right-radius: var(--border-radius-5px);
  border: 1px solid var(--vscode-commandCenter-inactiveBorder);
  border-bottom: 0px;
  overflow: hidden;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-4px);
    padding: var(--padding-3px) var(--padding-4px);
    width: 100%;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }

    &--selected {
      background-color: var(--vscode-list-inactiveSelectionBackground);
      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__instruction {
      text-align: left;
      font-size: var(--font-size-12px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: var(--padding-4px);
      flex-shrink: 0;
      font-size: var(--font-size-11px);
    }

    &__date {
      flex-shrink: 0;
      color: var(--vscode-descriptionForeground);
    }

    &__stats {
      display: flex;
      gap: var(--padding-4px);
      flex-shrink: 0;

      &--added {
        color: var(--vscode-gitDecoration-addedResourceForeground);
      }

      &--removed {
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }
}

.footer {
  position: relative;
  z-index: -1; // Makes context menu of a preset appear above
  display: flex;
  justify-content: space-between;
  gap: var(--padding-4px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__right {
    display: flex;
    gap: var(--padding-4px);
  }

  &__button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: var(--padding-4px);
    height: 24px;
    padding: 0 var(--padding-5px);
    border-radius: var(--border-radius-4px);
    color: var(--vscode-foreground);

    &:disabled {
      opacity: var(--disabled-opacity);
    }

    > svg {
      flex-shrink: 0;
      fill: var(--vscode-icon-foreground);
      width: 16px;
      height: 16px;
    }

    &--buy-me-a-coffee {
      background-color: #f7d600;
      transition: transform var(--transition-duration-150)
        var(--transition-timing-function);

      &:hover {
        transform: scale(0.95);
      }

      > svg {
        fill: black;
      }
    }

    &--filled {
      background-color: var(--vscode-list-hoverBackground);
      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }

    &--outlined {
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      &:hover:not(:disabled) {
        border-color: var(--vscode-commandCenter-activeBorder);
      }
    }
  }

  &__heart {
    position: absolute;
    z-index: 11;
    bottom: 32px;
    animation-name: float-up;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes float-up {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-6px);
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-12px);
    color: var(--vscode-descriptionForeground);
  }
}

.browser-extension-message {
  padding: 0 var(--padding-16px);
  position: relative;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
