.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-8px) var(--padding-10px)
    var(--padding-8px);
  background: linear-gradient(
    160deg,
    var(--vscode-inputOption-activeBackground),
    var(--vscode-sideBar-background)
  );
  color: var(--vscode-inputOption-activeForeground);
  --border-radius: var(--border-radius-8px);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  > span {
    font-weight: 500;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;

  > a {
    white-space: nowrap;

    &:first-child {
      padding-right: var(--padding-10px);
    }
  }
}
