.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-8px);

  &__heading {
    color: var(--vscode-descriptionForeground);
  }

  &__heading_container {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
  }

  &__donation {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4px);
    user-select: text;

    &__header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      padding-left: var(--padding-6px);
      border-left: 2px solid #ffdd00;
    }

    &__note {
      background-color: var(--vscode-list-hoverBackground);
      padding: var(--padding-5px) var(--padding-8px);
      border-radius: var(--border-radius-8px);
    }
  }
}

.skeleton {
  background-color: var(--vscode-list-hoverBackground);
  border-radius: var(--border-radius-4px);
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.revalidating {
  opacity: var(--dimmed-opacity);
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
