.container {
  --padding: var(--padding-5px) 15px var(--padding-5px) var(--padding-7px);
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-10px);
    background-color: var(--vscode-input-background);
    cursor: text;
    border: 1px solid var(--cwc-border-color);
    position: relative;

    &:hover {
      border-color: var(--cwc-border-color-hover);
    }

    &:focus-within {
      border-color: var(--vscode-focusBorder);
    }

    &--disabled {
      pointer-events: none;
      > * {
        opacity: 0.3;
      }
    }
  }
}

.error {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    text-align: center;
    align-items: center;
    padding: var(--padding-3px) var(--padding-10px) var(--padding-3px)
      var(--padding-8px);
    font-weight: 500;
    color: var(--vscode-activityWarningBadge-foreground);
    background-color: var(--vscode-activityWarningBadge-background);
    border-radius: var(--border-radius-999px);
    margin: 0 var(--padding-8px);

    &::before {
      content: '⚠';
      padding-right: 4px;
    }
  }
}

.input {
  padding: var(--padding);
  background-color: transparent;
  border: none;
  resize: none;
  position: relative;
  z-index: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: normal;
  min-height: 48px;

  &:focus {
    outline: none;
  }

  &:empty:before {
    content: attr(data-placeholder);
    position: absolute;
    color: var(--vscode-input-placeholderForeground);
    pointer-events: none;
  }
}

.clear-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--vscode-icon-foreground);
  opacity: var(--dimmed-opacity);

  &::before {
    font-size: 13px !important;
  }

  &:hover {
    opacity: 1;
  }
}

.input-with-tab-hint {
  &::after {
    content: 'TAB';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--cwc-text-color);
    font-size: var(--font-size-10px);
    padding: 0 var(--padding-3px);
    margin-left: var(--padding-2px);
    font-weight: 500;
    border: 1px solid var(--cwc-border-color);
    border-radius: var(--border-radius-5px);
    pointer-events: none;
  }
}

.selection-keyword {
  background-color: var(--vscode-editor-selectionBackground);
  border-radius: var(--border-radius-2px);
  padding: 0 0.6px;

  &--error {
    background-color: var(--vscode-diffEditor-removedLineBackground);
  }
}

.file-keyword {
  font-size: var(--font-size-12px);
  background-color: var(--vscode-editor-selectionBackground);
  border-radius: var(--border-radius-4px);
  padding: 0 var(--padding-4px) 0 var(--padding-3px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &::before {
    font-family: 'codicon';
    content: '\ea7b';
    margin-right: var(--padding-3px);
    font-size: var(--font-size-12px);
  }
}

.footer {
  display: flex;
  bottom: 0;
  right: 0;
  padding: var(--padding-6px) var(--padding-10px) var(--padding-6px)
    var(--padding-6px);
  justify-content: space-between;

  > div {
    flex-shrink: 0;
  }

  &__left {
    display: flex;

    &__button {
      --size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-4px);
      height: var(--size);
      width: var(--size);
      border-radius: 5px;

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      > svg {
        height: 11px;
        fill: var(--vscode-icon-foreground);
      }
    }
  }

  &__right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--padding-10px);
    pointer-events: none;

    &__edit-format {
      display: flex;
      align-items: center;
      gap: var(--padding-6px);

      &__button {
        font-size: var(--font-size-11px);
        pointer-events: all;
        position: relative;
        font-weight: 500;
        color: transparent;

        &::before {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          font-weight: normal;
          color: var(--vscode-foreground);
          opacity: 0.5;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }

        &--selected {
          &::before {
            font-weight: 500;
            opacity: 1;
          }
        }
      }
    }

    &__submit {
      position: relative;
      display: flex;
      align-items: center;
      pointer-events: all;

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 20px;
        border-radius: var(--border-radius-5px);
        pointer-events: all;

        > svg {
          width: 10px;
          fill: var(--vscode-icon-foreground);
        }

        &.codicon::before {
          font-size: 16px;
        }

        &:hover:enabled {
          background-color: var(--vscode-toolbar-hoverBackground);
        }

        &:disabled {
          opacity: 0.5;
          cursor: default;

          &:hover {
            background-color: none;
          }
        }

        &--submit {
          padding: 0 var(--padding-2px);
        }

        &--chevron {
          > span.codicon::before {
            font-size: 11px;
            transition: transform 0.2s ease-in-out;
          }
        }

        &--toggled {
          transform: rotate(180deg);
        }

        &--copy {
          width: 20px;
        }
      }
    }
  }
}
