.footer {
  --button-size: 24px;
  position: relative;
  z-index: -1; // Makes context menu of a preset appear above
  display: flex;
  justify-content: space-between;
  gap: var(--padding-4px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--cwc-border-color-dimmed);

  > div {
    display: flex;
    gap: var(--padding-6px);
  }

  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: var(--border-radius-4px);

    > svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    &--cwc {
      background-color: black;

      > svg {
        fill: white;
      }
    }

    &--buy-me-a-coffee {
      background-color: #f7d600;

      > svg {
        fill: black;
      }
    }

    &--discord {
      background-color: #5765f2;

      > svg {
        fill: white;
      }
    }
  }

  &__action-button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: var(--padding-4px);
    height: var(--button-size);
    padding: 0 var(--padding-7px);
    border-radius: var(--border-radius-4px);
    border: 1px solid var(--cwc-border-color);

    &:hover:not(:disabled) {
      border-color: var(--cwc-border-color-hover);
    }

    &:disabled {
      opacity: var(--disabled-opacity);
    }
  }
}
