.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--vscode-sideBar-background);
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 12px 6px 12px;
  position: relative;
  height: 20px;

  &__title {
    position: absolute;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    font-size: 14px;
    white-space: nowrap;
  }
}

.footer {
  gap: 8px;
  padding: 12px;
  border-top: 1px solid var(--cwc-border-color-dimmed);
}
