.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--vscode-sideBar-background);
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--padding-5px) var(--padding-12px) var(--padding-6px)
    var(--padding-12px);
  position: relative;
  height: 20px;

  &__title {
    position: absolute;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    font-size: var(--font-size-14px);
    white-space: nowrap;
  }
}

.footer {
  gap: var(--padding-8px);
  padding: var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
}
