.fieldset {
  display: flex;
  flex-direction: column;

  &__label {
    padding: 8px 12px 4px;
    font-size: 11px;
    font-weight: 600;
    color: var(--vscode-descriptionForeground);
    text-transform: uppercase;
  }

  &__header {
    height: var(--list-item-height);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
