.fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cwc-border-color-dimmed);
  border-radius: 10px;

  &__label {
    padding: 8px 12px 8px 12px;
    font-size: 11px;
    font-weight: 600;
    color: var(--cwc-text-color-dimmed);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;

    &--interactive {
      cursor: pointer;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px 12px 12px 12px;
  }
}
