.header {
  --height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  height: var(--height);

  @include modern-ui {
    padding: 0 10px;
  }

  @include landscape {
    height: 100%;
    align-items: center;
    padding: unset;
    margin: 0 0 0 12px;

    @include modern-ui {
      padding: unset;
      margin: 0 0 0 10px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    padding: 4px 0;
    gap: 4px;
    height: 100%;

    @include landscape {
      flex-direction: column;
      align-items: flex-start;
      padding: 6px 0;
    }
  }

  &__back {
    display: flex;
  }

  &__types {
    display: flex;

    @include landscape {
      flex-direction: column;
      margin: auto 0;
    }

    &__inner {
      display: flex;
      gap: 4px;

      @include landscape {
        flex-direction: column;
      }
    }
  }
}
