.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 12px 48px 12px;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: all;
  z-index: 1;
  border-radius: 12px;
  color: var(--vscode-quickInput-foreground);
  background-color: var(--vscode-quickInput-background);
  border: 1px solid var(--vscode-focusBorder);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  width: 100%;
  max-width: min(260px, 70vw);
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 11px;
  font-weight: 600;
  color: var(--cwc-text-color-dimmed);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 28px;
  transform: translateY(3px);
  transition: transform var(--transition-duration-250)
    var(--transition-timing-function);

  &--scrolled {
    transform: unset;
  }
}

.requests-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}

.item {
  display: flex;
  position: relative;
  width: 100%;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);

    & .item__abort {
      visibility: visible;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 0 10px;
    height: 22px;
    width: 100%;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    font-size: 11px;
  }

  &__abort {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    right: 8px;
    font-size: 12px;
    background: linear-gradient(
      to left,
      var(--vscode-list-hoverBackground) 56%,
      transparent
    );
    padding-left: 30px;
    visibility: hidden;
    pointer-events: none;

    &__button {
      display: flex;
      pointer-events: all;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: var(--vscode-gitDecoration-deletedResourceForeground);
      opacity: var(--dimmed-opacity);

      &:hover {
        opacity: 1;
      }
    }
  }
}

.elapsed-time,
.tokens-per-second {
  color: var(--vscode-descriptionForeground);
  font-size: 11px;
  font-variant-numeric: tabular-nums;
}
