.button {
  --button-size: 24px;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 4px;
  height: var(--button-size);
  padding: 0 6px 0 3px;
  border-radius: 4px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover:not(:disabled) {
    background-color: var(--vscode-toolbar-hoverBackground);
    text-decoration: none;
  }

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: default;
  }

  &__text {
    display: inline;
  }

  &--compact &__text {
    display: none;
  }

  &--compact {
    padding: 0;
    width: var(--button-size);
    justify-content: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 100%;

    > span {
      font-size: 14px !important;
    }

    > svg {
      width: 14px;
      height: 14px;
      fill: currentColor;
      margin-left: 2px;
    }
  }

  &--compact &__icon > svg {
    margin-left: 0;
  }
}
