.progress {
  width: 100%;
  height: 3px;
  background-color: var(--vscode-dropdown-border);
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  margin: 6px 0;

  &__fill {
    height: 100%;
    background-color: var(--vscode-focusBorder);
    transition: width var(--transition-duration-150)
      var(--transition-timing-function);

    &--indeterminate {
      height: 100%;
      background-color: var(--vscode-focusBorder);
      position: absolute;
      animation: indeterminate-progress 1.5s infinite linear;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

.file-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--vscode-editorWidget-foreground);
    opacity: 0.7;

    &__status {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 8px;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 6px;
      flex-shrink: 0;
      font-variant-numeric: tabular-nums;
    }
  }
}

@keyframes indeterminate-progress {
  from {
    left: -50px;
    width: 10px;
  }
  50% {
    width: 50px;
  }
  to {
    left: 100%;
    width: 10px;
  }
}
