.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-4px);
  width: 100%;
  padding: var(--padding-3px) var(--padding-12px) var(--padding-4px)
    var(--padding-12px);

  &__left {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-5px);
    --size: 20px;
    width: var(--size);
    height: var(--size);
    color: var(--vscode-icon-foreground);
  }

  &__text {
    display: flex;
    align-items: center;
    height: 24px;
    font-family: var(--font-family-accent);
    font-size: var(--font-size-18px);
    line-height: 1;
    letter-spacing: 1px;
    padding-top: 1px;
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-4px);
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    border-radius: var(--border-radius-5px);
    padding-left: var(--padding-5px);

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      --size: 20px;
      width: var(--size);
      height: var(--size);
      color: var(--vscode-icon-foreground);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-24px);
  height: 100%;
  padding: var(--padding-4px) var(--padding-12px) 0 var(--padding-12px);
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__responses {
    margin: 0 -12px;
  }

  &__mode {
    display: flex;
    width: 100%;
    position: relative;
    background-color: var(--vscode-sideBar-background);
    border-radius: var(--border-radius-10px);
    border: 1px solid var(--cwc-border-color);
    overflow: hidden;

    > button {
      flex: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 35px;
      background-color: var(--cwc-border-color-dimmed);
      pointer-events: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--padding-6px);
    width: 100%;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--padding-8px);
  font-size: var(--font-size-12px);
  user-select: text;
  width: 100%; // For easier text selection
  padding-bottom: var(--padding-12px);

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-4px);
  }

  a:hover {
    text-decoration: underline;
  }
}
