.container {
  --height: 24px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: var(--cwc-text-color);
  background-color: var(--cwc-bg-tertiary);
  overflow: hidden;
  height: var(--height);
  padding: 0 8px 0 5px;
  margin: 0 20px;

  :global([data-modern-ui='true']) & {
    margin: 0 18px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
  height: 100%;
  display: block;
  line-height: var(--height);
  padding-left: 6px;
  color: var(--cwc-text-color);
}

.warning {
  display: inline-block;
  color: var(--cwc-text-color-orange);
  margin-right: 5px;
  vertical-align: middle;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.attach {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.wont-send {
  color: var(--cwc-text-color-dimmed);
  font-style: italic;
}

.tokens {
  color: var(--cwc-text-color-dimmed);
  margin-left: 5px;
}
