.container {
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 0 var(--padding-12px);
  margin-bottom: var(--padding-2px);
  display: flex;
  align-items: center;
  gap: var(--padding-8px);

  &__title {
    color: var(--vscode-descriptionForeground);
  }
}

.missing-config {
  padding: var(--padding-2px) var(--padding-12px) 0 var(--padding-12px);
  font-weight: 500;
  font-style: italic;
}

.configurations {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-4px);
    height: var(--list-item-height);
    padding: 0 var(--padding-12px);

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: var(--padding-5px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 100%;

      &__drag_handle {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: grab;
        opacity: 0.5;

        &:active {
          cursor: grabbing;
        }

        &--disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1;

        > span:nth-child(2) {
          margin-left: 0.5em;
          opacity: 0.7;
          font-size: 0.9em;
        }
      }
    }
  }
}

.arrow-animate {
  animation: arrow-left-move 2s infinite;
  font-weight: 600 !important;
}

@keyframes arrow-left-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
