.container {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  gap: 8px;
}

.wallets {
  display: flex;
  flex-direction: column;
  margin: 0 12px;

  &__wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    &__right {
      display: flex;
      align-items: center;
      gap: 2px;
      min-width: 0;
      flex: 1;
      justify-content: flex-end;
    }

    &__hash {
      font-size: 11px;
      color: var(--cwc-text-color-dimmed);
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.donations {
  padding: 4px 12px 12px 12px;
}

.donations__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--revalidating {
    opacity: var(--dimmed-opacity);
  }

  &__donation {
    display: flex;
    flex-direction: column;
    gap: 4px;
    user-select: text;

    &__header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      padding-left: 6px;
      border-left: 2px solid #ffdd00;
    }

    &__note {
      background-color: var(--vscode-list-hoverBackground);
      padding: 5px 8px;
      border-radius: 8px;
    }
  }
}

.skeleton {
  background-color: var(--vscode-list-hoverBackground);
  border-radius: 4px;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
