.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-4px) 0 var(--padding-8px) 0;
  gap: var(--padding-8px);
}

.info {
  padding: var(--padding-4px) var(--padding-7px);
  color: var(--vscode-descriptionForeground);
  font-size: var(--padding-12px);
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  opacity: var(--dimmed-opacity);
  margin: 0 var(--padding-12px);
  border-radius: var(--border-radius-5px);

  > span {
    vertical-align: middle;
    font-size: var(--font-size-12px);
  }
}

.instructions {
  position: relative;
  padding: var(--padding-5px) var(--padding-7px);
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  margin: 0 var(--padding-12px);
  border-radius: var(--border-radius-10px);
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--vscode-sideBar-background);
  }
}

.list {
  display: block;

  &__text {
    color: var(--vscode-descriptionForeground);
    font-size: var(--font-size-12px);
    margin: var(--padding-6px) var(--padding-12px);
    background: var(--vscode-list-hoverBackground);
    padding: var(--padding-5px) var(--padding-7px);
    border-radius: var(--border-radius-8px);
    word-wrap: break-word;
  }

  > div:first-child {
    margin-top: 0;
  }

  > div:last-child {
    margin-bottom: 0;
  }

  &__file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-8px);
    padding: 0 var(--padding-12px);
    height: var(--list-item-height);
    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .list__file__actions {
        display: flex;
      }
    }

    &--selected {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: var(--padding-8px);
      overflow: hidden;

      &__label {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        > span:last-child {
          opacity: 0.7;
          margin-left: 0.5em;
          font-size: 0.9em;
        }

        &--new {
          color: var(--vscode-gitDecoration-untrackedResourceForeground);
        }

        &--deleted {
          text-decoration: line-through;
          color: var(--vscode-gitDecoration-deletedResourceForeground);
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: var(--padding-8px);
    }

    &__actions {
      display: none;
    }

    &__line-numbers {
      display: flex;
      gap: 0.3em;

      &__added {
        color: var(--vscode-gitDecoration-addedResourceForeground);
      }
      &__removed {
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }
}
