.container {
  display: flex;
  flex-direction: column;
  padding: 4px 0 12px 0;
  gap: 8px;
}

.info {
  padding: 4px 7px;
  color: var(--vscode-descriptionForeground);
  font-size: 12px;
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  opacity: var(--dimmed-opacity);
  margin: 0 12px;
  border-radius: 8px;

  > span {
    vertical-align: middle;
    font-size: 12px;
  }
}

.instructions {
  position: relative;
  margin: 0 12px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 13px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > div:first-child {
    margin-top: 0;
  }

  > div:last-child {
    margin-bottom: 0;
  }

  &__file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid var(--cwc-border-color-dimmed);
    padding: 0 8px;
    margin: 0 12px;
    height: 34px;
    border-radius: 8px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
      border-color: var(--cwc-border-color);

      .list__file__actions {
        display: flex;
      }
    }

    &--selected {
      background-color: var(--vscode-list-inactiveSelectionBackground);
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 8px;
      overflow: hidden;

      &__label {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        > span:last-child {
          opacity: 0.7;
          margin-left: 0.5em;
          font-size: 0.9em;
        }

        &--new {
          color: var(--vscode-gitDecoration-untrackedResourceForeground);
        }

        &--deleted {
          text-decoration: line-through;
          color: var(--vscode-gitDecoration-deletedResourceForeground);
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__actions {
      display: none;
    }

    &__line-numbers {
      display: flex;
      gap: 0.3em;

      &__added {
        color: var(--vscode-gitDecoration-addedResourceForeground);
      }
      &__removed {
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }
}
