.container {
  display: flex;
  flex-direction: column;
  padding: 4px 0 12px 0;
  gap: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  color: var(--cwc-text-color-dimmed);
  font-size: 12px;
  margin: 0 12px;
  border-radius: 8px;
  overflow: hidden;

  &--error {
    color: var(--vscode-gitDecoration-deletedResourceForeground);
    background-color: var(--cwc-bg-error);

    .info__action:hover {
      background-color: var(--cwc-bg-error);
    }
  }

  &--warning {
    color: var(--vscode-gitDecoration-modifiedResourceForeground);
    background-color: var(--cwc-bg-warning);

    .info__action:hover {
      background-color: var(--cwc-bg-warning);
    }
  }

  &__content {
    gap: 6px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0 4px 7px;

    > span:first-child {
      font-size: 12px;
      transform: translateY(2px);
      margin-right: 4px;
    }

    &--without-button {
      padding-right: 7px;
    }
  }

  &__action {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--vscode-textLink-foreground);
    padding: 0 7px 0 4px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }
  }
}

.instructions {
  position: relative;
  margin: 0 12px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 13px;
  }
}

.fix-all-progress {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 12px;
  padding: 7px 9px 9px 9px;
  border-radius: 6px;
  background-color: var(--cwc-bg-tertiary);
  background-image: linear-gradient(
    to right,
    var(--cwc-bg-secondary),
    var(--cwc-bg-secondary)
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: breathe 10s infinite linear;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    &__name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > span:last-child {
        opacity: 0.7;
        margin-left: 0.5em;
        font-size: 0.9em;
      }
    }

    &__status {
      color: var(--cwc-text-color-dimmed);
      white-space: nowrap;
      margin-left: 8px;
      font-variant-numeric: tabular-nums;
    }
  }

  &__bar {
    height: 2px;
    background-color: var(--cwc-bg-secondary);
    width: 100%;
    border-radius: 2px;
    overflow: hidden;

    &__fill {
      height: 100%;
      background-color: var(--vscode-focusBorder);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > div:first-child {
    margin-top: 0;
  }
}

@keyframes breathe {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 0% 100%;
  }
}
