.container {
  display: flex;
  flex-direction: column;
  padding: 4px 0 12px 0;
  gap: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  color: var(--vscode-descriptionForeground);
  font-size: 12px;
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  margin: 0 12px;
  border-radius: 8px;
  overflow: hidden;

  &--error {
    border-color: var(--vscode-errorForeground);
    color: var(--vscode-errorForeground);
  }

  &--warning {
    border-color: var(--vscode-inputValidation-warningBorder);
    color: var(--vscode-inputValidation-warningBorder);
  }

  &__content {
    gap: 6px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0 4px 7px;

    > span:first-child {
      font-size: 12px;
      transform: translateY(2px);
      margin-right: 4px;
    }

    &--without-button {
      padding-right: 7px;
    }
  }

  &__action {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--vscode-textLink-foreground);
    padding: 0 7px 0 4px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }
  }
}

.instructions {
  position: relative;
  margin: 0 12px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 13px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > div:first-child {
    margin-top: 0;
  }
}
