.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-8px);
  padding: 0 var(--padding-12px);
  height: 32px;
  border-radius: var(--padding-6px);
  background-color: #ffdd00;
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }

  > svg {
    height: 22px;
    fill: black;
  }

  &:focus {
    outline: none;
  }
}
