.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;

  > div {
    pointer-events: all;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 12px;
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 12px 0 12px;

  > span {
    font-size: 12px;
    color: var(--vscode-descriptionForeground);
  }
}

.browser-extension-message {
  padding: 0 16px;
  position: relative;
}
