.container {
  position: relative;
  padding: 4px 7px;
  background: linear-gradient(
    135deg,
    var(--cwc-bg-blue) 0%,
    var(--cwc-bg-green) 100%
  );
  color: var(--cwc-text-color);
}

.heading {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.links {
  display: flex;
  flex-wrap: wrap;

  > a {
    white-space: nowrap;

    &:first-child {
      margin-right: 8px;
    }
  }
}
