:root {
  @include variables;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: var(--font-size-13px);
  user-select: none;
  line-height: 1.4;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-size: var(--font-size-13px);
  font-family: inherit;
  color: inherit;
  line-height: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

div[role='button']:not(:disabled) {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a:focus {
  outline: none;
}

strong {
  font-weight: 600;
}

.simplebar-content {
  height: 100%;
}

.simplebar-scrollable-y {
  width: 100%;
}

.simplebar-scrollbar::before {
  background-color: var(--vscode-scrollbarSlider-background);
  width: 10px !important;
  border-radius: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

[data-simplebar]:hover .simplebar-scrollbar::before {
  opacity: 1 !important;
}

.simplebar-track.simplebar-vertical {
  width: 10px;
}
