:root {
  @include variables;
  @include colors;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: 13px;
  color: var(--cwc-text-color);
  user-select: none;
  line-height: 1.4;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-size: 13px;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
}

textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

div[role='button']:not(:disabled) {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus {
  outline: none;
}

strong {
  font-weight: 600;
}
