:root {
  @include variables;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: 13px;
  user-select: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-size: 13px;
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

div[role='button']:not(:disabled) {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

strong {
  font-weight: 600;
}
