.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-24px) var(--padding-24px) var(--padding-40px)
    var(--padding-24px);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--vscode-sideBar-background);
    opacity: 0.4;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-14px);
  padding: var(--padding-14px) var(--padding-12px) 0 var(--padding-12px);
}

.scrollable {
  margin-top: var(--padding-4px);

  &__inner {
    padding: var(--padding-4px) var(--padding-12px) var(--padding-8px)
      var(--padding-12px);
  }
}

.content {
  padding: var(--padding-12px);
  display: flex;
  flex-direction: column;
  gap: var(--padding-8px);
}

.footer {
  display: flex;
  gap: var(--padding-8px);
  padding: var(--padding-12px);
  border-top: 1px solid var(--vscode-widget-border);

  > button {
    flex: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius-12px);
  width: 100%;
  max-width: 320px;
  color: var(--vscode-quickInput-foreground);
  background-color: var(--vscode-quickInput-background);
  border: 1px solid var(--vscode-widget-border);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);

  &--full-width {
    max-width: none;
  }
}
