.container {
  display: flex;
  flex-direction: column;
}

.list {
  padding: 0 var(--spacing-s);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--padding-6px);
  padding: 0 var(--padding-12px);
  height: var(--list-item-height);
  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }

  &--selected {
    background-color: var(--vscode-list-inactiveSelectionBackground);

    &:hover {
      background-color: var(--vscode-list-inactiveSelectionBackground);
    }
  }

  &__label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    > span:last-child {
      opacity: 0.7;
      margin-left: 0.5em;
      font-size: 0.9em;
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  background: var(--vscode-sideBar-background);
  display: flex;
  gap: var(--padding-8px);
  padding: var(--padding-8px) var(--padding-12px) var(--padding-12px)
    var(--padding-12px);
}
