.container {
  display: flex;
  flex-direction: column;

  > :not(:first-child) {
    opacity: var(--dimmed-opacity);
    transition: opacity var(--transition-duration-250);
  }

  &--active > :not(:first-child) {
    opacity: 1;
  }

  &:hover > :not(:first-child) {
    opacity: 1;
  }
}
