.container {
  display: flex;
  flex-direction: column;
}

.presets {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-4px);
    padding: 0 var(--padding-12px);
    height: var(--list-item-height);

    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .presets__item__right {
        display: flex;
      }
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      height: 100%;
      gap: var(--padding-5px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;

      &__drag_handle {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: grab;
        opacity: 0.5;

        &:active {
          cursor: grabbing;
        }

        &--disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }

      &__icon {
        display: flex;

        > svg {
          fill: var(--vscode-icon-foreground);
          width: 16px;
          height: 16px;
        }
      }

      &__collapse-icon {
        display: flex;
        align-items: center;
        height: 100%;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;

        > span:nth-child(2) {
          color: var(--vscode-descriptionForeground);
          margin-left: 0.5em;
          font-size: 0.9em;
        }
      }
    }

    &__right {
      display: none;
      align-items: center;
      cursor: default;
      padding-right: var(--padding-4px);
    }
  }
}

.context-menu {
  position: fixed;
  background-color: var(--vscode-menu-background);
  border: 1px solid var(--vscode-menu-border);
  color: var(--vscode-menu-foreground);
  box-shadow: 0 2px 8px var(--vscode-widget-shadow);
  padding: var(--padding-4px) 0;
  border-radius: 4px;

  &__item {
    padding: var(--padding-4px) var(--padding-12px);
    cursor: pointer;

    &:hover {
      background-color: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
    }
  }
}

.footer {
  display: flex;
  padding: var(--padding-8px) var(--padding-12px);

  > button {
    flex: 1;
  }
}
