.container {
  display: flex;
  flex-direction: column;
}
.presets {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
    height: var(--list-item-height);

    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .presets__item__right {
        display: flex;
      }
    }

    &--separator {
      height: var(--list-item-height);

      .presets__item__left {
        flex: 1;
        position: relative;
        &::after {
          content: '';
          flex: 1;
          height: 1px;
          margin-left: 4px;
          background: linear-gradient(
            to right,
            var(--vscode-tree-inactiveIndentGuidesStroke),
            transparent
          );
        }
      }

      &--ending {
        .presets__item__left::before {
          content: '';
          position: absolute;
          top: 0;
          left: 26px;
          width: 1px;
          height: 6px;
          background-color: var(--vscode-tree-inactiveIndentGuidesStroke);
        }
        .presets__item__left::after {
          margin-bottom: 9px;
        }
      }
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);
    }

    &__left {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;

      &__drag-handle {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: grab;
        opacity: var(--drag-handle-opacity);

        &:active {
          cursor: grabbing;
        }

        &--disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }

      &__indent-guide {
        flex-shrink: 0;
        background-color: var(--vscode-tree-inactiveIndentGuidesStroke);
        height: 100%;
        width: 1px;
        margin-right: 1px;
        margin-left: 4px;
      }

      &__icon {
        display: flex;

        > svg {
          fill: var(--vscode-icon-foreground);
          width: 16px;
          height: 16px;
        }
      }

      &__collapse-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15px;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;

        > span:nth-child(2) {
          color: var(--cwc-text-color-dimmed);
          margin-left: 0.5em;
          font-size: 0.9em;
        }
      }
    }

    &__right {
      display: none;
      align-items: center;
      cursor: default;
    }
  }
}

.footer {
  display: flex;
  padding: 10px 12px 12px 12px;

  > button {
    flex: 1;
  }
}
