.footer {
  position: relative;
  z-index: -1; // Makes 'more' dropdown appear above
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-top: 1px solid var(--cwc-original-border-color);
  gap: 4px;

  @include modern-ui {
    padding: 6px 4px;
  }

  > div {
    display: flex;
    gap: 4px;
  }

  &__left {
    display: flex;
  }
}
