.files {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);

  &__item {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
    cursor: pointer;
    font-size: var(--vscode-font-size);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--padding-8px);

  > button {
    flex: 1;
  }
}
