.files {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);

  &__item {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
    cursor: pointer;
    font-size: var(--vscode-font-size);

    &__details {
      display: flex;
      flex: 1;
      gap: var(--padding-6px);
      overflow: hidden;
    }

    &__name {
      white-space: nowrap;
    }

    &__path {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--vscode-descriptionForeground);
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--padding-8px);

  > button {
    flex: 1;
  }
}
