@mixin colors {
  --cwc-text-color: var(--vscode-foreground);
  --cwc-text-color-dimmed: color-mix(
    in srgb,
    var(--vscode-foreground) 75%,
    transparent
  );
  --cwc-text-color-green: var(--vscode-gitDecoration-addedResourceForeground);
  --cwc-text-color-orange: var(
    --vscode-gitDecoration-modifiedResourceForeground
  );
  --cwc-text-color-red: var(--vscode-gitDecoration-deletedResourceForeground);
  --cwc-text-color-blue: var(--vscode-editorInfo-foreground);

  --cwc-bg-primary: color-mix(
    in srgb,
    var(--vscode-foreground) 20%,
    transparent
  );
  --cwc-bg-secondary: color-mix(
    in srgb,
    var(--vscode-foreground) 12%,
    transparent
  );
  --cwc-bg-tertiary: color-mix(
    in srgb,
    var(--vscode-foreground) 5%,
    transparent
  );
  --cwc-border-color: color-mix(
    in srgb,
    var(--vscode-foreground) 25%,
    transparent
  );
  --cwc-border-color-hover: color-mix(
    in srgb,
    var(--vscode-foreground) 35%,
    transparent
  );
  --cwc-border-color-dimmed: color-mix(
    in srgb,
    var(--vscode-foreground) 17%,
    transparent
  );

  --cwc-bg-green: color-mix(
    in srgb,
    var(--cwc-text-color-green) 12%,
    transparent
  );
  --cwc-bg-red: color-mix(in srgb, var(--cwc-text-color-red) 12%, transparent);
  --cwc-bg-orange: color-mix(
    in srgb,
    var(--cwc-text-color-orange) 12%,
    transparent
  );
  --cwc-bg-blue: color-mix(
    in srgb,
    var(--cwc-text-color-blue) 12%,
    transparent
  );
}
