@mixin colors {
  --cwc-text-color: var(--vscode-foreground);
  --cwc-text-color-dimmed: color-mix(
    in srgb,
    var(--vscode-foreground) 75%,
    transparent
  );
  --cwc-bg-primary: color-mix(
    in srgb,
    var(--vscode-foreground) 20%,
    transparent
  );
  --cwc-bg-secondary: color-mix(
    in srgb,
    var(--vscode-foreground) 8%,
    transparent
  );
  --cwc-bg-tertiary: color-mix(
    in srgb,
    var(--vscode-foreground) 4%,
    transparent
  );
  --cwc-border-color: color-mix(
    in srgb,
    var(--vscode-foreground) 25%,
    transparent
  );
  --cwc-border-color-hover: color-mix(
    in srgb,
    var(--vscode-foreground) 35%,
    transparent
  );
  --cwc-border-color-dimmed: color-mix(
    in srgb,
    var(--vscode-foreground) 17%,
    transparent
  );
}
