@mixin variables {
  --font-family-accent: 'Bangers', system-ui;

  --disabled-opacity: 0.5;
  --dimmed-opacity: 0.7;
  --drag-handle-opacity: 0.6;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-150: 0.15s;
  --transition-duration-250: 0.25s;

  --list-item-height: 22px;
}
