.container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  gap: var(--padding-4px);
  padding: 0 var(--padding-5px) 0 var(--padding-7px);
  height: 24px;
  border: 1px solid var(--vscode-dropdown-border);
  border-radius: var(--border-radius-4px);
  cursor: pointer;
  color: var(--vscode-foreground);
  width: 100%;

  &:hover {
    border-color: var(--vscode-commandCenter-activeBorder);
  }

  &--open {
    border-color: var(--vscode-focusBorder);
    &:hover {
      border-color: var(--vscode-focusBorder);
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    text-align: left;
    font-size: var(--font-size-13px);
  }

  &__info {
    font-size: var(--font-size-11px);
    color: var(--vscode-descriptionForeground);
  }

  &__icon {
    font-size: var(--font-size-14px) !important;
    margin-left: var(--padding-2px);
    color: var(--vscode-icon-foreground);
  }
}

.menu {
  position: absolute;
  right: 0;
  margin-top: var(--padding-2px);
  z-index: 1;
  background-color: var(--vscode-menu-background);
  border: 1px solid var(--vscode-menu-border);
  border-radius: var(--border-radius-8px);
  box-shadow: 0 2px 8px var(--vscode-widget-shadow);
  min-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  padding: var(--padding-4px);

  &__item {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 var(--padding-8px);
    color: var(--vscode-menu-foreground);
    font-size: var(--font-size-13px);
    cursor: pointer;
    white-space: nowrap;
    border-radius: var(--border-radius-4px);

    &:hover {
      background-color: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
    }

    &--selected {
      background-color: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
    }
  }
}
