.container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  gap: var(--padding-4px);
  padding: 0 var(--padding-5px) 0 var(--padding-7px);
  height: 24px;
  border: 1px solid var(--cwc-border-color-dimmed);
  border-radius: var(--border-radius-4px);
  cursor: pointer;
  color: var(--vscode-foreground);
  width: 100%;

  &:hover {
    border-color: var(--cwc-border-color);
  }

  &--open {
    border-color: var(--cwc-border-color);
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    text-align: left;
    font-size: var(--font-size-13px);
  }

  &__info {
    font-size: var(--font-size-11px);
    color: var(--vscode-descriptionForeground);
  }

  &__icon {
    font-size: var(--font-size-14px) !important;
    margin-left: var(--padding-2px);
    color: var(--vscode-icon-foreground);
  }
}
