.container {
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 5px 0 7px;
  height: 24px;
  border: 1px solid var(--cwc-border-color-dimmed);
  border-radius: 4px;
  cursor: pointer;
  color: var(--vscode-foreground);
  width: 100%;

  &:hover {
    border-color: var(--cwc-border-color);
  }

  &--open {
    border-color: var(--cwc-border-color);
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    text-align: left;
    font-size: 13px;
  }

  &__info {
    font-size: 11px;
    color: var(--vscode-descriptionForeground);
    white-space: nowrap;
    padding-left: 3px;
  }

  &__icon {
    font-size: 14px !important;
    color: var(--vscode-icon-foreground);
  }
}
