.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-24px);
  height: 100%;
  padding: var(--padding-5px) var(--padding-12px) 0 var(--padding-12px);
}

.top {
  display: flex;
  flex-direction: column;
  gap: var(--padding-10px);
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);
    width: 100%;

    &__home {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-5px);
      --size: 20px;
      width: var(--size);
      height: var(--size);
      color: var(--vscode-icon-foreground);
    }

    &__text {
      font-weight: 600;
      color: var(--vscode-icon-foreground);
    }
  }

  &__enter-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--padding-8px);
    width: 100%;
  }

  &__donations {
    display: flex;
    flex-direction: column;
    gap: var(--padding-14px);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--padding-8px);
  font-size: var(--font-size-12px);
  user-select: text;
  width: 100%; // For easier text selection
  padding-bottom: var(--padding-12px);

  &__version {
    color: var(--vscode-descriptionForeground);
    user-select: text;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-4px);
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-4px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-8px);

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      --size: 24px;
      width: var(--size);
      height: var(--size);
      border-radius: var(--border-radius-4px);

      > svg {
        fill: white;
        width: 15px;
      }

      &--x {
        background-color: black;
      }

      &--reddit {
        background-color: #ff6314;
      }

      &--discord {
        background-color: #7289da;
      }
    }
  }

  &__website {
    flex: 1;
    text-align: right;
    user-select: text;
  }
}
