.wrapper {
  position: relative;
  display: flex;
  height: 100%;

  &--full-width {
    flex: 1;
    width: 100%;
  }
}

.keycap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-foreground);
  border: 1px solid var(--cwc-border-color-dimmed);
  padding: 2px 3px 2px 3px;
  border-radius: 3px;
  font-size: 10px;
  font-family: var(--vscode-font-family);
  line-height: 1;
  pointer-events: none;
}
