.container {
  position: relative;
}

.slot {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: var(--vscode-sideBar-background);

  &--overlay {
    z-index: 3; // Needed to hide triangle of pinned commands box
  }

  &--hidden {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}

.review-changes-container {
  ul {
    list-style-type: none;
    padding: 0 var(--spacing-s);
    margin: 0;
  }
}

.review-changes-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  cursor: pointer;
  padding: var(--spacing-xs) var(--spacing-s);
  margin: 0 calc(-1 * var(--spacing-s));
  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}
.review-changes-item-label {
  flex-grow: 1;
}

.review-changes-item--selected {
  background-color: var(--vscode-list-activeSelectionBackground);
  color: var(--vscode-list-activeSelectionForeground);
  &:hover {
    background-color: var(--vscode-list-activeSelectionBackground);
  }
}

.review-changes-footer {
  display: flex;
  gap: var(--spacing-s);
  justify-content: flex-end;
  padding: var(--spacing-s);
  border-top: 1px solid var(--vscode-editorGroup-border);
}
