.container {
  position: relative;
}

.slot {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: var(--vscode-sideBar-background);

  &--overlay {
    z-index: 2; // Needed to hide triangle of pinned commands box
  }

  &--hidden {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}
