.container {
  --padding: var(--padding-4px) var(--padding-20px) var(--padding-7px)
    var(--padding-7px);
  position: relative;

  &__error {
    position: absolute;
    display: flex;
    text-align: center;
    padding: var(--padding-2px) var(--padding-10px) var(--padding-2px)
      var(--padding-8px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 500;
    color: var(--vscode-activityWarningBadge-foreground);
    background-color: var(--vscode-activityWarningBadge-background);
    white-space: nowrap;
    border-radius: var(--border-radius-999px);

    &::before {
      content: '⚠';
      padding-right: 4px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--vscode-input-background);
    cursor: text;
    border: 1px solid var(--vscode-commandCenter-inactiveBorder);
    position: relative;

    &:hover {
      border-color: var(--vscode-commandCenter-activeBorder);
    }

    &:focus-within {
      border-color: var(--vscode-focusBorder);
    }

    &__search-button {
      display: flex;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      padding: var(--padding-1px) var(--padding-3px) var(--padding-5px)
        var(--padding-3px);
      color: var(--vscode-icon-foreground);
      cursor: pointer;
      opacity: 0.7;

      &::before {
        font-size: var(--font-size-13px);
      }

      &:hover {
        opacity: 1;
      }

      &:first-of-type {
        z-index: 2;
      }
    }

    &__copy-button {
      display: flex;
      position: absolute;
      z-index: 1;
      top: 18px;
      right: 0;
      padding: var(--padding-1px) var(--padding-3px) var(--padding-6px)
        var(--padding-3px);
      color: var(--vscode-icon-foreground);
      cursor: pointer;
      opacity: 0.8;

      &::before {
        font-size: var(--font-size-13px);
      }

      &:hover:enabled {
        opacity: 1;
      }

      &:disabled {
        opacity: 0.35;
        cursor: default;
      }
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.textarea {
  padding: var(--padding);
  font-family: sans-serif;
  font-size: inherit;
  line-height: 1.5;
  background-color: transparent;
  color: var(--vscode-input-foreground);
  border: none;
  resize: none;
  position: relative;
  z-index: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: normal;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.highlight-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--padding);
  font-family: sans-serif;
  font-size: inherit;
  line-height: 1.5;
  pointer-events: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  z-index: 0;
  color: transparent;
  letter-spacing: normal;
  margin: 0;
}

.selection-keyword {
  background-color: var(--vscode-editor-selectionBackground);
  border-radius: var(--border-radius-2px);
  padding: 0 0.6px;

  &--error {
    background-color: var(--vscode-diffEditor-removedLineBackground);
  }
}

.footer {
  display: flex;
  bottom: 0;
  right: 0;
  padding: var(--padding-6px);
  justify-content: space-between;
  overflow: hidden;

  > div {
    flex-shrink: 0;
  }

  &__left {
    display: flex;
    gap: var(--padding-2px);
    overflow: hidden;

    &__button {
      --size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-4px);
      height: var(--size);
      width: var(--size);
      border-radius: 5px;
      color: var(--vscode-icon-foreground);

      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }

      > span {
        padding-bottom: var(--padding-2px);
      }
    }
  }

  &__right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--padding-4px);

    &__count {
      font-size: 0.9em;
      color: var(--vscode-descriptionForeground);
      margin-right: 3px;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 20px;
      padding: 0 4px;
      border-radius: 5px;
      color: var(--vscode-editor-foreground);
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      font-size: 12px;

      > svg {
        width: 10px;
        fill: var(--vscode-icon-foreground);
      }

      &:hover:enabled {
        background-color: var(--vscode-toolbar-hoverBackground);
        border-color: var(--vscode-commandCenter-activeBorder);
      }

      &__ctrl {
        color: var(--vscode-icon-foreground);
        letter-spacing: -0.6px;
      }

      &:disabled {
        opacity: 0.5;
        cursor: default;

        &:hover {
          background-color: none;
        }
      }

      &--secondary {
        @media (max-width: 355px) {
          > span {
            display: none;
          }
        }
      }
    }
  }
}
