.button {
  color: var(--vscode-textLink-foreground);
  white-space: nowrap;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) {
    text-decoration: underline;
  }
}
