.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    input {
      margin: 0;
    }
  }
}
