.container {
  position: relative;
}

.slot {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;

  &--hidden {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}
