.text {
  margin: var(--padding-6px) var(--padding-12px);
  word-wrap: break-word;

  > * {
    margin: 0;
    font-size: var(--font-size-13px);
  }

  > * + * {
    margin-top: 0.5em;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  code {
    font-size: var(--font-size-11px);
    background-color: var(--vscode-textCodeBlock-background);
    padding: 2px 4px;
    border-radius: 3px;
  }

  pre {
    display: flex;
    overflow: auto;
  }
}

.hidden {
  display: flex;
  align-items: center;
  margin: 0 var(--padding-12px);
  gap: var(--padding-8px);
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--cwc-border-color-dimmed);
}
