.text {
  margin: var(--padding-6px) var(--padding-12px);
  word-wrap: break-word;

  > * {
    margin: 0;
    font-size: var(--font-size-13px);
  }

  > * + * {
    margin-top: 0.5em;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  code {
    font-family: monospace;
    font-size: var(--font-size-11px);
    background-color: var(--vscode-textCodeBlock-background);
    padding: 2px 4px;
    border-radius: 3px;
  }

  &--collapsed {
    max-height: 50px;
    overflow: hidden;
    position: relative;

    &:hover {
      color: inherit;
    }
  }

  &--overflowing::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--vscode-sideBar-background)
    );
  }
}
