.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--vscode-sideBar-background);
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--padding-8px) var(--padding-12px) var(--padding-6px)
    var(--padding-12px);
  position: relative;
  height: 20px;

  &__title {
    position: absolute;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    font-size: var(--font-size-14px);
  }

  &__right {
    display: flex;

    &__slot {
      padding-right: var(--padding-3px);
    }
  }
}
