.field {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    color: var(--vscode-foreground);
  }

  &__info {
    font-size: 12px;
    color: var(--cwc-text-color-dimmed);
    margin-top: 4px;
  }
}
