.container {
  --height: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: space-between;
  height: var(--height);
  padding: 0 0 0 6px;
  overflow: hidden;
  margin: 0 20px;

  @include modern-ui {
    margin: 0 18px;
  }
}

.placement-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.placement-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded {
  border-radius: 6px;
}

.theme-default {
  color: var(--cwc-text-color);
  background: var(--cwc-bg-tertiary);
  background: linear-gradient(
    90deg,
    var(--cwc-bg-secondary) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-text-color-dimmed);
}

.theme-warning {
  color: var(--cwc-yellow-foreground);
  background: linear-gradient(
    90deg,
    var(--cwc-yellow-background) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-yellow-foreground-dimmed);
}

.theme-success {
  color: var(--cwc-green-foreground);
  background: linear-gradient(
    90deg,
    var(--cwc-green-background) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-green-foreground-dimmed);
}

.theme-error {
  color: var(--cwc-red-foreground);
  background: linear-gradient(
    90deg,
    var(--cwc-red-background) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-red-foreground-dimmed);
}

.theme-blue {
  color: var(--cwc-blue-foreground);
  background: linear-gradient(
    90deg,
    var(--cwc-blue-background) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-blue-foreground-dimmed);
}

.theme-purple {
  color: var(--cwc-purple-foreground);
  background: linear-gradient(
    90deg,
    var(--cwc-purple-background) var(--gradient-start, 40px),
    var(--cwc-bg-tertiary) var(--gradient-end, 140px)
  );
  --theme-description-color: var(--cwc-purple-foreground-dimmed);
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;

  &:last-child {
    padding-right: 8px;
  }
}

.icon {
  margin-right: 4px;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  height: 100%;
  display: block;
  line-height: var(--height);
}

.description {
  font-size: 12px;
  line-height: var(--height);
  color: var(--theme-description-color, var(--cwc-text-color-dimmed));
  margin-left: 5px;
}

.actions {
  display: flex;
  height: 100%;
}

.action {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 7px 0 4px;
  color: var(--cwc-text-color-dimmed);

  &:hover {
    background-color: var(--cwc-bg-tertiary);
  }
}
