.container {
  --height: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: space-between;
  height: var(--height);
  padding: 0 0 0 6px;
  overflow: hidden;
  margin: 0 20px;

  :global([data-modern-ui='true']) & {
    margin: 0 18px;
  }
}

.placement-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.placement-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded {
  border-radius: 6px;
}

.theme-default {
  color: var(--cwc-text-color);
  background-color: var(--cwc-bg-tertiary);
  --theme-description-color: var(--cwc-text-color-dimmed);

  .action:hover {
    background-color: var(--cwc-bg-tertiary);
  }
}

.theme-warning {
  color: var(--cwc-yellow-foreground);
  background-color: var(--cwc-yellow-background);
  --theme-description-color: var(--cwc-yellow-foreground-dimmed);

  .action:hover {
    background-color: var(--cwc-yellow-background);
  }
}

.theme-success {
  color: var(--cwc-green-foreground);
  background-color: var(--cwc-green-background);
  --theme-description-color: var(--cwc-green-foreground-dimmed);

  .action:hover {
    background-color: var(--cwc-green-background);
  }
}

.theme-error {
  color: var(--cwc-red-foreground);
  background-color: var(--cwc-red-background);
  --theme-description-color: var(--cwc-red-foreground-dimmed);

  .action:hover {
    background-color: var(--cwc-red-background);
  }
}

.theme-blue {
  color: var(--cwc-blue-foreground);
  background-color: var(--cwc-blue-background);
  --theme-description-color: var(--cwc-blue-foreground-dimmed);

  .action:hover {
    background-color: var(--cwc-blue-background);
  }
}

.theme-purple {
  color: var(--cwc-purple-foreground);
  background-color: var(--cwc-purple-background);
  --theme-description-color: var(--cwc-purple-foreground-dimmed);

  .action:hover {
    background-color: var(--cwc-purple-background);
  }
}

.content {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;

  &:last-child {
    padding-right: 8px;
  }
}

.icon {
  margin-right: 4px;

  span::before {
    font-size: 15px;
    line-height: 24px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  height: 100%;
  display: block;
  line-height: var(--height);
}

.description {
  font-size: 12px;
  line-height: var(--height);
  color: var(--theme-description-color, var(--cwc-text-color-dimmed));
  margin-left: 6px;
}

.actions {
  display: flex;
  height: 100%;
}

.action {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  color: var(--vscode-textLink-foreground);
  padding: 0 6px 0 4px;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}
