.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 12px;

  &__label {
    font-size: 12px;
    font-weight: 600;
    color: var(--vscode-foreground);
    align-self: flex-start;
  }

  &__info {
    font-size: 12px;
    color: var(--vscode-descriptionForeground);
  }
}
