.container {
  position: relative;
  display: flex;
  height: 100%;
}

.scrollable {
  overflow: hidden;
  flex: 1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    height: 3px;
    width: 100%;
    opacity: 0;
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px inset;
    top: 0;
  }

  &--shadow::before {
    opacity: 1;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-24px);
  min-height: 100vh;
  width: 100%;
  padding: var(--padding-20px);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-8px);
  width: 100%;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: var(--padding-2px);

    &__title {
      font-size: 28px;
      font-weight: 600;
      color: var(--vscode-foreground);
    }

    &__subtitle {
      font-size: 17px;
      color: var(--vscode-descriptionForeground);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: var(--padding-6px);
    color: var(--vscode-textLink-foreground);
    text-decoration: none;

    > span:first-child {
      font-size: 20px;
    }

    > span:last-child:hover {
      text-decoration: underline;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-4px);
  font-size: var(--font-size-12px);

  &__version {
    color: var(--vscode-descriptionForeground);
  }

  a:hover {
    text-decoration: underline;
  }
}
