.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 12px 0 8px;
  height: 34px;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  .codicon-link-external {
    color: inherit;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;

  > span:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    fill: currentColor;
  }

  &__logo {
    --size: 22px;
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: var(--size);
      height: var(--size);
    }
  }

  > svg {
    height: 19px;
  }
}
