.container {
  --padding: 5px 7px;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--vscode-input-background);
    cursor: text;
    border: 0.5px solid var(--cwc-border-color);
    position: relative;

    &:hover {
      border-color: var(--cwc-border-color-hover);
    }

    &:focus-within {
      border-color: var(--vscode-focusBorder);
    }

    &--active-border-blue {
      &:focus-within {
        border-color: var(--cwc-blue-foreground);
      }
    }

    &--active-border-purple {
      &:focus-within {
        border-color: var(--cwc-purple-foreground);
      }
    }

    &--active-border-yellow {
      &:focus-within {
        border-color: var(--cwc-yellow-foreground);
      }
    }

    &--selecting {
      .keyword {
        pointer-events: none;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-row {
  position: relative;
  width: 100%;
}

.checkbox-wrapper {
  float: left;
  position: relative;
  z-index: 2;
  display: flex;
  margin: 7px 5px 0 7px;
}

.input-content {
  position: relative;
}

.placeholder-mirror {
  position: absolute;
  width: 100%;
}

.placeholder-text {
  padding: var(--padding);
  color: var(--vscode-input-placeholderForeground);
}

.top-right {
  float: right;
  display: flex;
  align-items: center;
  margin: 3px 5px 0 4px;
  position: relative;
  z-index: 2;
  gap: 4px;

  &__prompt-token-count {
    font-size: 10px;
    color: var(--vscode-icon-foreground);
    opacity: var(--dimmed-opacity);
    pointer-events: none;
    font-variant-numeric: tabular-nums;
    transform: translateY(0.5px);
  }
}

.input {
  padding: var(--padding);
  background-color: transparent;
  border: none;
  resize: none;
  position: relative;
  z-index: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: normal;
  min-height: 48px;

  &:focus {
    outline: none;
  }

  & [data-type='ghost-text']::before {
    content: '\200B';
  }
}
