.header {
  height: 22px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  :global([data-modern-ui='true']) & {
    height: 28px;
    padding: 0 8px 0 6px;
    margin: 0 4px;
    border-radius: var(--border-radius-small);
  }

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__right {
    display: flex;
  }
}
