.container {
  display: flex;
  align-items: center;
  gap: var(--padding-12px);
  width: 100%;

  &__slider {
    flex: 1;
    margin: 0;
    appearance: none;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      background: linear-gradient(
        to right,
        var(--vscode-list-activeSelectionBackground) var(--value-percent),
        var(--vscode-dropdown-border) var(--value-percent)
      );
      height: 3px;
      border-radius: var(--border-radius-999px);
    }

    &::-webkit-slider-thumb {
      appearance: none;
      margin-top: -4.5px;
      background-color: var(--vscode-button-background);
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }
}
