.button {
  display: flex;
  align-items: center;
  gap: var(--padding-8px);
  padding: 0 var(--padding-12px);
  height: 36px;
  border-radius: 999px;
  background-color: #ffdd00;
  color: black;

  &:hover {
    color: black;
    background-color: #ffe331;
  }

  > svg {
    height: 24px;
    fill: black;
  }

  &:focus {
    outline: none;
  }
}
