.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16px);
}

.donations {
  display: flex;
  flex-direction: column;
  gap: var(--padding-10px);

  &__heading {
    opacity: var(--dimmed-opacity);
  }

  &__heading_container {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
  }

  &__donation {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4px);
    user-select: text;

    &__header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      padding-left: var(--padding-6px);
      border-left: 2px solid #ffdd00;
    }

    &__note {
      background-color: var(--vscode-list-hoverBackground);
      padding: var(--padding-5px) var(--padding-8px);
      border-radius: var(--border-radius-8px);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-8px);
  padding: 0 var(--padding-12px) 0 var(--padding-8px);
  height: 32px;
  border-radius: var(--padding-6px);
  background-color: #ffdd00;
  color: black;

  &:hover {
    color: black;
  }

  > svg {
    height: 22px;
    fill: black;
  }

  &:focus {
    outline: none;
  }
}

.skeleton {
  background-color: var(--vscode-list-hoverBackground);
  border-radius: var(--border-radius-4px);
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
