.container {
  display: flex;
  flex-direction: column;
}

.list {
  padding: 0 var(--spacing-s);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-8px);
  padding: 0 var(--padding-12px);
  height: var(--list-item-height);
  &:hover {
    background-color: var(--vscode-list-hoverBackground);

    .item__actions {
      display: flex;
    }
  }

  &--selected {
    background-color: var(--vscode-list-inactiveSelectionBackground);

    &:hover {
      background-color: var(--vscode-list-inactiveSelectionBackground);
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
    overflow: hidden;

    &__label {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      > span:last-child {
        opacity: 0.7;
        margin-left: 0.5em;
        font-size: 0.9em;
      }

      &--new {
        color: var(--vscode-gitDecoration-untrackedResourceForeground);
      }

      &--deleted {
        text-decoration: line-through;
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--padding-8px);
  }

  &__actions {
    display: none;
    gap: var(--padding-4px);
  }

  &__line-numbers {
    display: flex;
    gap: 0.3em;

    &__added {
      color: var(--vscode-gitDecoration-addedResourceForeground);
    }
    &__removed {
      color: var(--vscode-gitDecoration-deletedResourceForeground);
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  background: var(--vscode-sideBar-background);
  display: flex;
  gap: var(--padding-8px);
  padding: var(--padding-8px) var(--padding-12px) var(--padding-12px)
    var(--padding-12px);
}
