.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3px) 0 var(--padding-10px) 0;
}

.commands {
  position: absolute;
  z-index: 1;
  bottom: calc(24px + 16px + 1px + 4px);
  right: var(--padding-4px);
  padding: var(--padding-4px) 0;
  width: 65vw;
  border-radius: var(--border-radius-4px);
  transform: translateY(10px);
  transition: transform 0.15s var(--transition-timing-function),
    opacity 0.15s var(--transition-timing-function);
  opacity: 0;
  background-color: var(--vscode-quickInput-background);
  color: var(--vscode-quickInput-foreground);
  border: 1px solid var(--vscode-focusBorder);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  pointer-events: none;

  &--visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--padding-8px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__left {
    display: flex;
    gap: var(--padding-8px);
    overflow: hidden;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);
    height: 24px;
    padding: 0 var(--padding-5px);
    border-radius: var(--border-radius-4px);
    text-decoration: none;
    color: var(--vscode-foreground);
    white-space: nowrap;

    &:hover {
      color: var(--vscode-foreground);
    }

    > svg {
      flex-shrink: 0;
      fill: var(--vscode-icon-foreground);
      width: 16px;
      height: 16px;
    }

    &--buy-me-a-coffee {
      background-color: #f7d600;
      transition: var(--transition);

      &:hover {
        transform: scale(0.95);
      }

      > svg {
        fill: black;
      }
    }

    &--filled {
      background-color: var(--vscode-list-hoverBackground);
      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }

    &--outlined {
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      &:hover {
        border-color: var(--vscode-commandCenter-activeBorder);
      }
    }

    &--outlined-active {
      border-color: var(--vscode-focusBorder);
      &:hover {
        border-color: var(--vscode-focusBorder);
      }
    }

    &--quick-actions {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-bottom: 1px solid var(--vscode-focusBorder);
        border-right: 1px solid var(--vscode-focusBorder);
        transform: translateY(10px) rotate(45deg);
        background-color: var(--vscode-quickInput-background);
        transition: all 0.15s var(--transition-timing-function);
        opacity: 0;
        pointer-events: none;
      }
    }

    &--quick-actions-after-visible::after {
      transform: rotate(45deg) translateY(0);
      opacity: 1;
    }
  }

  &__heart {
    position: absolute;
    bottom: 32px;
    animation-name: float-up;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes float-up {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  to {
    transform: translateY(-60px);
    opacity: 0;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-12px);
  gap: var(--padding-8px);

  &__left {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);
  }

  &__right {
    flex: 1;
  }
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: var(--padding-6px) var(--padding-12px) 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-12px);
    color: var(--vscode-foreground);
    opacity: 0.7;
  }
}

.browser-extension-message {
  padding: 0 var(--padding-16px);
  margin-bottom: -4px;
  position: relative;
}
