.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  overflow: hidden;
  flex: 1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    height: 3px;
    width: 100%;
    opacity: 0;
    box-shadow: var(--vscode-scrollbar-shadow) 0 6px 6px -6px inset;
    top: 0;
  }

  &--shadow::before {
    opacity: 1;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  padding: var(--padding-4px) 0 var(--padding-12px) 0;
}

.commands {
  position: absolute;
  z-index: 1;
  bottom: calc(24px + 16px + 1px + 4px);
  right: 8px;
  padding: 4px 0;
  width: 65vw;
  border-radius: var(--border-radius-4px);
  transform: translateY(5px);
  transition: all 0.1s ease-in-out;
  opacity: 0;
  background-color: var(--vscode-quickInput-background);
  color: var(--vscode-quickInput-foreground);
  border: 1px solid var(--vscode-widget-border);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  pointer-events: none;

  &--visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

.footer {
  display: flex;
  gap: var(--padding-8px);
  padding: var(--padding-8px) var(--padding-12px);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);

  &__button {
    display: flex;
    align-items: center;
    gap: var(--padding-4px);
    height: 24px;
    padding: 0 5px;
    border-radius: var(--border-radius-4px);
    text-decoration: none;
    color: var(--vscode-foreground);
    white-space: nowrap;

    &:hover {
      color: var(--vscode-foreground);
    }

    > svg {
      flex-shrink: 0;
      fill: var(--vscode-icon-foreground);
      width: 16px;
      height: 16px;
    }

    &--buy-me-a-coffee {
      background-color: #f7d600;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1) rotate(-7deg);
      }

      > svg {
        fill: black;
      }
    }

    &--filled {
      background-color: var(--vscode-list-hoverBackground);
      &:hover {
        background-color: var(--vscode-toolbar-hoverBackground);
      }
    }

    &--outlined {
      border: 1px solid var(--vscode-commandCenter-inactiveBorder);
      &:hover {
        border-color: var(--vscode-commandCenter-activeBorder);
      }
    }

    &--outlined-active {
      border-color: var(--vscode-focusBorder);
      &:hover {
        border-color: var(--vscode-focusBorder);
      }
    }

    &--quick-actions {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-bottom: 1px solid var(--vscode-widget-border);
        border-right: 1px solid var(--vscode-widget-border);
        transform: translateY(5px) rotate(45deg);
        background-color: var(--vscode-quickInput-background);
        transition: all 0.1s ease-in-out;
        opacity: 0;
        pointer-events: none;
      }
    }

    &--quick-actions-after-visible::after {
      transform: rotate(45deg) translateY(0);
      opacity: 1;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-12px);

  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-6px);
  }
}

.chat-input {
  margin: 0 var(--padding-12px);
}

.edit-format {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
  padding: 0 var(--padding-12px);

  > span {
    font-size: var(--font-size-11px);
    color: var(--vscode-foreground);
    opacity: 0.7;
  }
}

.browser-extension-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-4px);
  border-radius: var(--border-radius-10px);
  border: 1px solid var(--vscode-inputOption-activeBorder);
  padding: var(--padding-8px) var(--padding-10px);
  margin: 0 var(--padding-12px);
  background-color: var(--vscode-inputOption-activeBackground);
  color: var(--vscode-inputOption-activeForeground);

  > span {
    font-weight: 500;
  }

  > a {
    color: var(--vscode-inputOption-activeForeground);
  }
}

.apply-copied-chat-response {
  padding: 0 var(--padding-12px);
}
