.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 2px;

  &__right {
    flex-shrink: 0;
  }
}

.title {
  font-weight: 600;
}

.description {
  color: var(--cwc-text-secondary);
}

.below {
  width: 100%;
}
