.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--cwc-bg-tertiary);

  &--hoverable:hover:not(:has(button:hover, a:hover)) {
    background-color: var(--vscode-toolbar-hoverBackground);
  }

  border-top: 1px solid var(--cwc-border-color-dimmed);

  &:first-of-type {
    border-top-width: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;

  &--toggleable {
    cursor: pointer;
    user-select: none;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 2px;

  &__right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.title {
  font-weight: 600;
}

.description {
  color: var(--cwc-text-secondary);
}

.below {
  width: 100%;
  padding: 0 12px 12px 12px;
}
