.menu {
  position: absolute;
  top: 100%;
  padding-top: 4px;
  right: 0;
  z-index: 2;
  width: max-content;
  text-align: left;
  min-width: 100%;

  &__inner {
    background-color: var(--vscode-quickInput-background);
    border-radius: var(--border-radius-8px);
    border: 1px solid var(--vscode-widget-border);
    box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
    padding: var(--padding-4px);
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-12px);
  padding: 0 var(--padding-6px);
  height: 24px;
  cursor: pointer;
  color: var(--vscode-quickInput-foreground);
  white-space: nowrap;
  border-radius: var(--border-radius-4px);

  &:hover,
  &[data-selected='true'] {
    background-color: var(--vscode-list-activeSelectionBackground);
    & > span {
      color: var(--vscode-menu-selectionForeground);
    }
  }
}

.shortcut {
  color: var(--vscode-descriptionForeground);
  font-size: var(--font-size-12px);
}
