.menu {
  position: absolute;
  top: 100%;
  padding-top: 4px;
  right: 0;
  z-index: 2;
  width: max-content;
  text-align: left;
  min-width: max(100%, 110px);

  &__inner {
    background-color: var(--vscode-quickInput-background);
    border-radius: 8px;
    border: 1px solid var(--cwc-border-color-dimmed);
    box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
    padding: 4px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 6px;
  height: 24px;
  cursor: pointer;
  color: var(--vscode-quickInput-foreground);
  white-space: nowrap;
  border-radius: 4px;

  &__left {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    flex: 1;
    min-width: 0;
    > span {
      font-size: 14px !important;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &:hover,
  &[data-selected='true'] {
    background-color: var(--vscode-list-activeSelectionBackground);
    & > span {
      color: var(--vscode-list-activeSelectionForeground);
    }
  }
}

.shortcut {
  opacity: var(--dimmed-opacity);
  font-size: 12px;
  font-variant-numeric: tabular-nums;
}

.underlined {
  text-decoration: underline;
}
