.info {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--vscode-foreground);
}

.model {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  margin-left: 0.5em;
}

