.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.model {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.actions {
  margin-left: 12px;
}
