.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-4px);
  padding: var(--padding-7px) var(--padding-12px) var(--padding-7px)
    var(--padding-8px);
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: var(--border-radius-6px);
  width: 100%;

  &:hover {
    background-color: var(--vscode-button-hoverBackground);
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--padding-2px);
    text-align: left;
  }

  &__label {
    font-weight: 600;
  }

  &__description {
    opacity: var(--dimmed-opacity);
    font-size: var(--font-size-12px);
  }
}
