.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 8px;
  border-radius: 4px;
  color: var(--vscode-foreground);
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color var(--transition-duration-150),
    opacity var(--transition-duration-250);

  font-size: 13px;
  height: 26px;
  padding-left: 20px;
  position: relative;
  opacity: var(--dimmed-opacity);

  &:hover {
    background-color: var(--cwc-bg-tertiary);
    text-decoration: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: currentColor;
    opacity: 0.2;
  }

  &--parent-active {
    opacity: 1;
  }

  &--active {
    background-color: var(--cwc-bg-secondary);
    opacity: 1;

    &:hover {
      background-color: var(--cwc-bg-secondary);
    }

    &::before {
      opacity: 0.4;
    }
  }

  &--last {
    margin-bottom: 8px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.warning {
  display: flex;
  color: var(--cwc-text-color-orange);
}
