.separator {
  flex-shrink: 0;

  &--4 {
    height: 4px;
  }

  &--8 {
    height: 8px;
  }

  &--12 {
    height: 12px;
  }

  &--14 {
    height: 14px;
  }

  &--16 {
    height: 16px;
  }

  &--10 {
    height: 10px;
  }

  &--24 {
    height: 24px;
  }
}
