.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 12px;
  padding-left: 12px;
  color: var(--cwc-text-color-dimmed);
}

.notices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
