.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 12px;
  padding-left: 12px;
  color: var(--cwc-text-color-dimmed);
}
.container {
  border-radius: 10px;
  color: var(--vscode-sideBarTitle-foreground);
  background-color: var(--cwc-bg-tertiary);
  overflow: hidden;

  > div {
    border-top: 1px solid var(--cwc-border-color-dimmed);
  }

  > div:first-child {
    border-top-width: 0;
  }
}
