.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 12px;
  color: var(--cwc-text-color-dimmed);
}

.notice {
  margin-bottom: 8px;
}

.content {
  background-color: var(--cwc-bg-tertiary);
  border-radius: 10px;
}
