.textarea {
  border: 1px solid var(--cwc-border-color);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: 4px 6px;
  border-radius: 4px;
  width: 100%;
  resize: none;
  overflow: hidden;

  &:hover {
    border-color: var(--cwc-border-color-hover);
  }

  &:focus {
    outline: none;
    border-color: var(--vscode-focusBorder);
  }
}
