.textarea {
  border: 1px solid var(--cwc-border-color);
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: var(--padding-4px) var(--padding-7px);
  border-radius: var(--border-radius-4px);
  width: 100%;
  resize: none;
  overflow: hidden;

  &:hover {
    border-color: var(--cwc-border-color-hover);
  }

  &:focus {
    outline: none;
    border-color: var(--vscode-focusBorder);
  }
}
