.container {
  position: relative;
  padding: 4px 7px;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 221, 0.1) 0%,
    rgba(37, 94, 209, 0.1) 100%
  );
  color: var(--vscode-inputOption-activeForeground);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0 20px;

  :global([data-modern-ui='true']) & {
    margin: 0 18px;
  }
}

.heading {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.links {
  display: flex;
  flex-wrap: wrap;

  > a {
    white-space: nowrap;

    &:first-child {
      margin-right: 8px;
    }
  }
}
