.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;

  &--compact {
    height: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 12px;
  height: 82px;
  width: 100%;
  flex: 1;
  position: relative;
  cursor: pointer;

  &--compact {
    height: 100%;
    gap: 8px;
    border-radius: 0;

    .button__label {
      font-size: 18px;
    }
  }

  &:not(:disabled):hover {
    background-color: var(--cwc-bg-purple);
    color: var(--cwc-text-color-purple);

    .button__label-char {
      animation: wave 0.5s ease-in-out;
    }
  }

  &--compact:not(:disabled):hover .button__label-char {
    animation-name: small-wave;
  }

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: default;
  }

  &__label {
    @include accent-font;
    font-size: 32px;
  }

  &__label-char {
    display: inline-block;
    position: relative;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(0);
  }
}

@keyframes small-wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(0);
  }
}
