.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4px);
}

.my-presets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-12px);
  margin-bottom: var(--padding-2px);

  &__left {
    opacity: 0.7;
    color: var(--vscode-foreground);
  }
}

.presets {
  display: flex;
  flex-direction: column;
  gap: var(--padding-12px);

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-4px);
    padding: 0 var(--padding-12px);
    cursor: pointer;
    height: 22px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .presets__item__right {
        display: flex;
      }
    }

    &--disabled {
      cursor: default !important;

      .presets__item__left {
        opacity: 0.7;
      }
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;

      &__icon > svg {
        fill: var(--vscode-icon-foreground);
        width: 16px;
        height: 16px;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;

        > span:nth-child(2) {
          margin-left: 0.5em;
          opacity: 0.7;
          font-size: 0.9em;
        }
      }
    }

    &__right {
      display: none;
      align-items: center;
      gap: var(--padding-4px);
      cursor: default;
      padding-right: var(--padding-4px);

      &__drag_handle {
        display: flex;
        align-items: center;
        cursor: grab;
        opacity: 0.5;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  &__create {
    margin: var(--padding-8px) var(--padding-12px) 0 var(--padding-12px);
  }
}
