.container {
  display: flex;
  flex-direction: column;
}

.my-presets {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-12px);
  margin-bottom: var(--padding-2px);
  gap: var(--padding-8px);

  &__left {
    color: var(--vscode-descriptionForeground);
  }
}

.presets {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-4px);
    padding: 0 var(--padding-12px);
    height: var(--list-item-height);

    &:hover {
      background-color: var(--vscode-list-hoverBackground);

      .presets__item__right {
        display: flex;
      }
    }

    &--disabled {
      cursor: default !important;

      .presets__item__left__text {
        opacity: 0.7;
      }
    }

    &--highlighted {
      background-color: var(--vscode-list-inactiveSelectionBackground);

      &:hover {
        background-color: var(--vscode-list-inactiveSelectionBackground);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      height: 100%;
      gap: var(--padding-5px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;

      &__drag_handle {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: grab;
        opacity: 0.5;

        &:active {
          cursor: grabbing;
        }

        &--disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }

      &__icon {
        display: flex;

        > svg {
          fill: var(--vscode-icon-foreground);
          width: 16px;
          height: 16px;
        }
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;

        > span:nth-child(2) {
          margin-left: 0.5em;
          opacity: 0.7;
          font-size: 0.9em;
        }
      }
    }

    &__right {
      display: none;
      align-items: center;
      gap: var(--padding-4px);
      cursor: default;
      padding-right: var(--padding-4px);
    }
  }
}
