.container {
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: var(--cwc-text-color-dimmed);
  margin-right: 4px;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;

  &__cancel {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: var(--vscode-textLink-foreground);
    }
  }
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid var(--cwc-border-color-dimmed);
  padding: 0 8px;
  margin: 0 12px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
    border-color: var(--cwc-border-color);

    .file__actions {
      display: flex;
    }
  }

  &--selected {
    background-color: var(--vscode-list-inactiveSelectionBackground);

    &:hover {
      background-color: var(--vscode-list-inactiveSelectionBackground);
    }
  }

  &--deleted {
    cursor: default !important;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    &__label {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      > span:last-child {
        opacity: 0.7;
        margin-left: 0.5em;
        font-size: 0.9em;
      }

      &--new {
        color: var(--vscode-gitDecoration-untrackedResourceForeground);
      }

      &--deleted {
        text-decoration: line-through;
        color: var(--vscode-gitDecoration-deletedResourceForeground);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__actions {
    display: none;
    align-items: center;
  }

  &__line-numbers {
    display: flex;
    gap: 3px;

    &__added {
      color: var(--vscode-gitDecoration-addedResourceForeground);
    }

    &__removed {
      color: var(--vscode-gitDecoration-deletedResourceForeground);
    }
  }
}

.message {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;

  &--error {
    color: var(--vscode-gitDecoration-deletedResourceForeground);
    background-color: var(--cwc-bg-error);

    .message__actions__item:hover {
      background-color: var(--cwc-bg-error);
    }
  }

  &--warning {
    color: var(--vscode-gitDecoration-modifiedResourceForeground);
    background-color: var(--cwc-bg-warning);

    .message__actions__item:hover {
      background-color: var(--cwc-bg-warning);
    }
  }

  &--success {
    color: var(--vscode-gitDecoration-addedResourceForeground);
    background-color: var(--cwc-bg-success);

    .message__actions__item:hover {
      background-color: var(--cwc-bg-success);
    }
  }

  &--loading {
    color: var(--cwc-text-color);
    background-color: var(--cwc-bg-tertiary);

    .message__actions__item:hover {
      background-color: var(--cwc-bg-secondary);
    }
  }

  &__content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    padding: 3px 0 3px 6px;

    > span:first-child {
      font-size: 14px !important;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  &__actions {
    display: flex;

    &__item {
      display: flex;
      font-size: 12px;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      white-space: nowrap;
      color: var(--vscode-textLink-foreground);
      padding: 0 6px 0 3px;

      &:hover {
        background-color: var(--vscode-list-hoverBackground);
      }
    }
  }
}
