.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px 12px 8px 16px;
  align-items: center;
  justify-content: space-between;

  &__amount {
    font-weight: 600;
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  gap: 12px;

  &:nth-child(even) {
    background-color: var(--cwc-bg-tertiary);
  }

  &__content {
    flex: 1;
    display: flex;
    overflow: hidden;
    gap: 8px;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.col-drag {
  padding: 4px;
  display: flex;
  align-items: center;
  height: 100%;
}

.col-name {
  width: 90px;
}

.col-api-key {
  width: 50px;
}

.col-base-url {
  flex: 1;
}

.col-actions {
  display: flex;
  gap: 8px;
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: var(--cwc-text-color-dimmed);
  align-self: flex-start;
  flex: 1;
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}
