.container {
  display: flex;
  flex-direction: column;
  --row-height: 40px;
}

.header {
  display: flex;
  padding: 0 12px 0 16px;
  height: var(--row-height);
  align-items: center;
  justify-content: space-between;

  &__amount {
    font-weight: 500;
  }
}

.list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--cwc-bg-secondary);
  border-bottom: 1px solid var(--cwc-bg-secondary);

  &:has(.row:nth-child(even):last-child) {
    border-bottom: none;
  }
}

.row {
  display: flex;
  align-items: center;
  height: var(--row-height);
  padding: 0 12px;
  gap: 12px;

  &:nth-child(even) {
    background-color: var(--cwc-bg-tertiary);
  }

  &__content {
    flex: 1;
    display: flex;
    overflow: hidden;
    gap: 8px;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.col-drag {
  padding: 4px;
  display: flex;
  align-items: center;
  height: 100%;
}

.col-name {
  width: 90px;
}

.col-api-key {
  width: 50px;
}

.col-base-url {
  flex: 1;
}

.col-actions {
  display: flex;
  gap: 8px;
}

.drag-handle {
  cursor: grab;
  opacity: var(--drag-handle-opacity);

  &:active {
    cursor: grabbing;
  }
}
