.container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.toolbar {
  display: flex;
  padding: 0 8px 8px 8px;
  align-items: center;
  gap: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 36px;

  &:nth-child(even) {
    background-color: var(--vscode-welcomePage-tileBackground);
  }

  .col-actions {
    visibility: hidden;
  }

  &:hover .col-actions {
    visibility: visible;
  }

  &__content {
    flex: 1;
    display: flex;
    padding: 0 12px;
    overflow: hidden;
    gap: 8px;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.col-drag {
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-name {
  flex: 1 1 25%;
}
.col-api-key {
  flex: 1 1 25%;
}
.col-base-url {
  flex: 1 1 45%;
}
.col-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-right: 8px;
}

.empty-message {
  flex: 1;
  text-align: center;
  font-style: italic;
  color: var(--vscode-descriptionForeground);
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}
