.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  padding: 12px 12px 8px 12px;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;

  &:nth-child(even) {
    background-color: var(--vscode-welcomePage-tileBackground);
  }

  &__content {
    flex: 1;
    display: flex;
    overflow: hidden;
    gap: 8px;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.col-drag {
  padding: 0 4px 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-name {
  width: 90px;
}

.col-api-key {
  width: 50px;
}

.col-base-url {
  flex: 1;
}

.col-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-right: 8px;
  width: 60px;
  flex-shrink: 0;
}

.empty-message {
  flex: 1;
  text-align: center;
  font-style: italic;
  color: var(--cwc-text-color-dimmed);
}

.drag-handle {
  cursor: grab;
  opacity: 0.5;

  &:active {
    cursor: grabbing;
  }
}
