.container {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  flex-shrink: 0;
  padding: 1px 11px 0 var(--padding-12px);
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.mode {
  display: flex;
  align-items: center;
  gap: var(--padding-2px);
  margin-right: var(--padding-12px);
  background-color: var(--vscode-toolbar-activeBackground);
  border-radius: var(--border-radius-4px);
  margin-bottom: var(--padding-4px);
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  padding: var(--padding-2px);

  &__option {
    padding: 0 var(--padding-6px);
    height: 100%;
    border-radius: var(--border-radius-4px);
    font-size: var(--font-size-13px);
    color: var(--vscode-foreground);
    font-weight: normal;
    white-space: nowrap;

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    &--active {
      background-color: var(--vscode-button-background);
      color: var(--vscode-button-foreground);
      font-weight: 600;

      &:hover {
        background-color: var(--vscode-button-background);
      }
    }
  }
}

.right {
  display: flex;
  gap: var(--padding-4px);

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-4px);
    height: 24px;
    border-radius: var(--border-radius-4px);
    opacity: 0.5;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
      background-color: var(--vscode-toolbar-hoverBackground);
    }

    > svg {
      height: 16px;
      fill: var(--vscode-editor-foreground);
    }
  }
}
