.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 8px;
  border-radius: 4px;
  color: var(--vscode-foreground);
  text-decoration: none;
  cursor: pointer;
  height: 32px;
  transition: background-color 0.1s;

  &:hover {
    background-color: var(--cwc-bg-tertiary);
    text-decoration: none;
  }

  &--active {
    background-color: var(--cwc-bg-secondary);

    &:hover {
      background-color: var(--cwc-bg-secondary);
    }
  }

  &--nested {
    font-size: 13px;
    height: 26px;
    padding-left: 20px;
    position: relative;
    opacity: 0.6;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: currentColor;
      opacity: 0.2;
    }

    &.container--active {
      opacity: 1;
      &::before {
        opacity: 0.4;
      }
    }
  }

  &--last-nested {
    margin-bottom: 8px;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.warning {
  display: flex;
  color: var(--cwc-text-color-orange);
}
