.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 4px;
  color: var(--vscode-foreground);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--cwc-bg-secondary);
    text-decoration: none;
  }

  &--active {
    background-color: var(--cwc-bg-tertiary);
  }
}
