.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 8px;
  border-radius: 4px;
  color: var(--vscode-foreground);
  text-decoration: none;
  cursor: pointer;
  height: 30px;

  &:hover {
    background-color: var(--cwc-bg-tertiary);
    text-decoration: none;
  }

  &--active {
    background-color: var(--cwc-bg-secondary);

    &:hover {
      background-color: var(--cwc-bg-secondary);
    }
  }
}

.warning {
  display: flex;
  color: var(--cwc-text-color-orange);
}
