.container {
  display: flex;
  align-items: center;
  gap: var(--padding-8px);
  padding: var(--padding-8px);
  border-radius: var(--border-radius-4px);
  color: var(--vscode-editor-foreground);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }

  &.active {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
  }
}
