.container {
  display: flex;
  flex-direction: column;
  padding: 4px 0 12px 0;
  gap: 8px;

  :global([data-modern-ui='true']) & {
    padding: 4px 0 10px 0;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  color: var(--cwc-text-color-dimmed);
  font-size: 12px;
  margin: 0 12px;
  border-radius: 8px;
  overflow: hidden;

  :global([data-modern-ui='true']) & {
    margin: 0 10px;
  }

  &--error {
    color: var(--cwc-text-color-red);
    background-color: var(--cwc-bg-red);

    .info__action:hover {
      background-color: var(--cwc-bg-red);
    }
  }

  &--warning {
    color: var(--cwc-text-color-yellow);
    background-color: var(--cwc-bg-yellow);

    .info__action:hover {
      background-color: var(--cwc-bg-yellow);
    }
  }

  &__content {
    gap: 6px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0 4px 7px;

    > span:first-child {
      font-size: 12px;
      transform: translateY(2px);
      margin-right: 4px;
    }

    &--without-button {
      padding-right: 7px;
    }
  }

  &__action {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--vscode-textLink-foreground);
    padding: 0 7px 0 4px;

    &:hover {
      background-color: var(--vscode-list-hoverBackground);
    }
  }
}

.instructions {
  position: relative;
  margin: 0 12px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  user-select: text;

  &--expanded {
    display: block;
    -webkit-line-clamp: unset;
  }

  :global([data-modern-ui='true']) & {
    margin: 0 10px;
  }

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 13px;
  }
}

.fix-all-progress {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 12px;
  padding: 7px 9px 9px 9px;
  border-radius: 6px;
  background-color: var(--cwc-bg-tertiary);

  :global([data-modern-ui='true']) & {
    margin: 0 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    &__name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > span:last-child {
        opacity: 0.7;
        margin-left: 0.5em;
        font-size: 0.9em;
      }
    }

    &__status {
      color: var(--cwc-text-color-dimmed);
      white-space: nowrap;
      margin-left: 8px;
      font-variant-numeric: tabular-nums;
    }
  }

  &__bar {
    height: 2px;
    background-color: var(--cwc-bg-secondary);
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &__fill {
      height: 100%;
      background-color: var(--vscode-focusBorder);
      transition: width var(--transition-duration-150)
        var(--transition-timing-function);

      &--indeterminate {
        height: 100%;
        background-color: var(--vscode-focusBorder);
        position: absolute;
        animation: fix-all-indeterminate-progress 1.5s infinite linear;
      }
    }
  }
}

@keyframes fix-all-indeterminate-progress {
  from {
    left: -50px;
    width: 10px;
  }
  50% {
    width: 50px;
  }
  to {
    left: 100%;
    width: 10px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > div:first-child {
    margin-top: 0;
  }
}

.configuration {
  font-size: 11px;
  opacity: var(--dimmed-opacity);
  margin: 4px 12px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  :global([data-modern-ui='true']) & {
    margin: 4px 10px 0 10px;
  }
}
