.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  padding: 1px 12px 6px 10px;
  gap: 4px;
  position: relative;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }

  &--forwarded {
    background-color: var(--vscode-list-inactiveSelectionBackground);
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    flex-shrink: 0;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    margin-bottom: 2px;
  }

  &__header-left {
    display: flex;
    align-items: center;
    padding-top: 3px;
  }

  &__time {
    font-size: 11px;
    color: var(--cwc-text-color-dimmed);
    &--checked {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }

  &__actions {
    display: flex;
    opacity: 0;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:hover &__actions {
    opacity: 1;
    pointer-events: auto;
  }

  &__delete {
    &:hover {
      color: var(--vscode-errorForeground);
      opacity: 1;
    }
  }

  &__text {
    white-space: pre-wrap;
    word-break: break-word;
    cursor: text;
    min-height: 18px;

    &--checked {
      text-decoration: line-through;
      opacity: 0.7;
    }

    &--placeholder {
      font-style: italic;
      opacity: 0.5;
    }
  }
}

.add-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 15px;
  width: 15px;
  color: var(--vscode-checkbox-foreground);
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &:focus {
    outline: none;
  }

  &::before {
    font-family: 'codicon';
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }

  &--add {
    margin: 6px 0;
    &::before {
      content: '\ea60';
    }
  }

  &--indent::before {
    content: '\ebf9';
  }

  &--collapse::before {
    font-size: 16px;
    content: '\eab4';
  }

  &--expand::before {
    font-size: 16px;
    content: '\eab6';
  }

  &:hover::before {
    opacity: 1;
  }
}

.add-row {
  position: relative;
  display: flex;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}

.empty {
  padding: 8px 12px;
  font-size: 11px;
  color: var(--cwc-text-color-dimmed);
  font-style: italic;
}

.indent-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(
    --vscode-tree-indentGuidesStroke,
    var(--cwc-border-color-dimmed)
  );
  pointer-events: none;
}
